<a href="https://colab.research.google.com/github/valeriamedina2/Evaluacion/blob/main/_Espa%C3%B1a_Evaluacion_Etapa1_A0127050.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Etapa 1**
##Valeria Medina 
##Datos España

In [44]:
#Importamos librerías requeridas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [45]:
#Leemos el codigo 
df= pd.read_csv("Girona_España.csv", encoding = 'unicode_escape')
df

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,1.455100e+04,https://www.airbnb.com/rooms/14551,2.023030e+13,31/03/2023,city scrape,Cozy & Colorful by Nature (Private Room),Up in the hill of MontjuÃ¯c (a mountain overlo...,MontjuÃ¯c is most likely the best neighborhood...,https://a0.muscache.com/pictures/16209908/f1fe...,57237,...,4.91,4.63,4.74,HUTG-049542,f,1,0,1,0,0.37
1,1.205757e+06,https://www.airbnb.com/rooms/1205757,2.023030e+13,31/03/2023,city scrape,HabitaciÃ³n doble + baÃ±o y terraza,<b>The space</b><br />HabitaciÃ³n confortable ...,Bonitas playas a 15 minutos en coche. Piscina ...,https://a0.muscache.com/pictures/02e0a61e-078e...,6586355,...,4.91,4.69,4.80,NaN,f,1,0,1,0,0.51
2,1.212820e+06,https://www.airbnb.com/rooms/1212820,2.023030e+13,01/04/2023,city scrape,Apartment port de rei stunning wiew,<b>The space</b><br />Apartments first line un...,NaN,https://a0.muscache.com/pictures/18245529/0886...,6620645,...,4.76,4.74,4.32,NaN,f,2,2,0,0,0.62
3,7.516380e+05,https://www.airbnb.com/rooms/751638,2.023030e+13,31/03/2023,city scrape,Room Limon - Casa Pati de lÂ´Albera,<b>The space</b><br />Nice room with 2 individ...,"Sant Climent is a tiny village, with a populat...",https://a0.muscache.com/pictures/64276178/98d1...,3680160,...,5.00,4.63,4.50,PG000794,t,6,1,5,0,0.08
4,4.134200e+04,https://www.airbnb.com/rooms/41342,2.023030e+13,01/04/2023,previous scrape,Beachfront Tamariua (Costa Brava),A little paradise by the sea. Apartment 2/4 ad...,Apartment located outside the town on a small ...,https://a0.muscache.com/pictures/70414801/59d4...,180072,...,4.73,4.91,4.36,HUTG-003688,f,1,1,0,0,0.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19650,8.583870e+17,https://www.airbnb.com/rooms/858386613168601750,2.023030e+13,01/04/2023,city scrape,"Casa La Chumbera, Begur, Costa Brava",Individual house located at the urbanization '...,NaN,https://a0.muscache.com/pictures/prohost-api/H...,26281633,...,NaN,NaN,NaN,HUTG-001292,t,34,34,0,0,NaN
19651,8.583960e+17,https://www.airbnb.com/rooms/858396134121337855,2.023030e+13,01/04/2023,city scrape,Playa a 2 minutos,"MagnÃ­fico piso para pasar vacaciones,dispone ...",NaN,https://a0.muscache.com/pictures/6351279f-294b...,444428600,...,NaN,NaN,NaN,HUTG019727,t,1,1,0,0,NaN
19652,8.584110e+17,https://www.airbnb.com/rooms/858410917126332945,2.023030e+13,01/04/2023,city scrape,Apartamento cÃ©ntrico,"EstÃ¡ compuesto de dos habitaciones, una de ma...",NaN,https://a0.muscache.com/pictures/miso/Hosting-...,491503593,...,NaN,NaN,NaN,HUTG-057830,f,9,9,0,0,NaN
19653,8.584180e+17,https://www.airbnb.com/rooms/858418062773719271,2.023030e+13,01/04/2023,city scrape,"Apto a 5 min de la playa, Platja d'Aro",Cozy apartment for 4 people. Perfect to spend ...,NaN,https://a0.muscache.com/pictures/prohost-api/H...,389605038,...,NaN,NaN,NaN,HUTG-065236,t,54,54,0,0,NaN
19654,8.584240e+17,https://www.airbnb.com/rooms/858424461046143986,2.023030e+13,01/04/2023,city scrape,Apartamento frontal a mar,"EstÃ¡ compuesto de tres habitaciones, dos habi...",NaN,https://a0.muscache.com/pictures/miso/Hosting-...,491503593,...,NaN,NaN,NaN,HUTG-051787,f,9,9,0,0,NaN

In [46]:
df.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,14551.0,https://www.airbnb.com/rooms/14551,2.023030e+13,31/03/2023,city scrape,Cozy & Colorful by Nature (Private Room),Up in the hill of MontjuÃ¯c (a mountain overlo...,MontjuÃ¯c is most likely the best neighborhood...,https://a0.muscache.com/pictures/16209908/f1fe...,57237,...,4.91,4.63,4.74,HUTG-049542,f,1,0,1,0,0.37
1,1205757.0,https://www.airbnb.com/rooms/1205757,2.023030e+13,31/03/2023,city scrape,HabitaciÃ³n doble + baÃ±o y terraza,<b>The space</b><br />HabitaciÃ³n confortable ...,Bonitas playas a 15 minutos en coche. Piscina ...,https://a0.muscache.com/pictures/02e0a61e-078e...,6586355,...,4.91,4.69,4.80,NaN,f,1,0,1,0,0.51
2,1212820.0,https://www.airbnb.com/rooms/1212820,2.023030e+13,01/04/2023,city scrape,Apartment port de rei stunning wiew,<b>The space</b><br />Apartments first line un...,NaN,https://a0.muscache.com/pictures/18245529/0886...,6620645,...,4.76,4.74,4.32,NaN,f,2,2,0,0,0.62
3,751638.0,https://www.airbnb.com/rooms/751638,2.023030e+13,31/03/2023,city scrape,Room Limon - Casa Pati de lÂ´Albera,<b>The space</b><br />Nice room with 2 individ...,"Sant Climent is a tiny village, with a populat...",https://a0.muscache.com/pictures/64276178/98d1...,3680160,...,5.00,4.63,4.50,PG000794,t,6,1,5,0,0.08
4,41342.0,https://www.airbnb.com/rooms/41342,2.023030e+13,01/04/2023,previous scrape,Beachfront Tamariua (Costa Brava),A little paradise by the sea. Apartment 2/4 ad...,Apartment located outside the town on a small ...,https://a0.muscache.com/pictures/70414801/59d4...,180072,...,4.73,4.91,4.36,HUTG-003688,f,1,1,0,0,0.09

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19655 entries, 0 to 19654
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            19655 non-null  float64
 1   listing_url                                   19655 non-null  object
 2   scrape_id                                     19655 non-null  float64
 3   last_scraped                                  19655 non-null  object
 4   source                                        19655 non-null  object
 5   name                                          19655 non-null  object
 6   description                                   19632 non-null  object
 7   neighborhood_overview                         8342 non-null   object
 8   picture_url                                   19655 non-null  object
 9   host_id                                       19655 non-null  int64
 10  host_url                                      19655 non-null  object
 11  host_name                                     19538 non-null  object
 12  host_since                                    19538 non-null  object
 13  host_location                                 14096 non-null  object
 14  host_about                                    11231 non-null  object
 15  host_response_time                            17567 non-null  object
 16  host_response_rate                            17567 non-null  object
 17  host_acceptance_rate                          18502 non-null  object
 18  host_is_superhost                             19640 non-null  object
 19  host_thumbnail_url                            19538 non-null  object
 20  host_picture_url                              19538 non-null  object
 21  host_neighbourhood                            1269 non-null   object
 22  host_listings_count                           19538 non-null  float64
 23  host_total_listings_count                     19538 non-null  float64
 24  host_verifications                            19655 non-null  object
 25  host_has_profile_pic                          19538 non-null  object
 26  host_identity_verified                        19538 non-null  object
 27  neighbourhood                                 8342 non-null   object
 28  neighbourhood_cleansed                        19655 non-null  object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      19655 non-null  float64
 31  longitude                                     19655 non-null  float64
 32  property_type                                 19655 non-null  object
 33  room_type                                     19655 non-null  object
 34  accommodates                                  19655 non-null  int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                19639 non-null  object
 37  bedrooms                                      19152 non-null  float64
 38  beds                                          19562 non-null  float64
 39  amenities                                     19655 non-null  object
 40  price                                         19655 non-null  object
 41  minimum_nights                                19655 non-null  int64
 42  maximum_nights                                19655 non-null  int64
 43  minimum_minimum_nights                        19654 non-null  float64
 44  maximum_minimum_nights                        19654 non-null  float64
 45  minimum_maximum_nights                        19654 non-null  float64
 46  maximum_maximum_nights                        19654 non-null  float64
 47  minimum_nights_avg_ntm                        19654 non-null  float64
 48  maximum_nights_avg_ntm                        19654 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              19655 non-null  object
 51  availability_30                               19655 non-null  int64
 52  availability_60                               19655 non-null  int64
 53  availability_90                               19655 non-null  int64
 54  availability_365                              19655 non-null  int64
 55  calendar_last_scraped                         19655 non-null  object
 56  number_of_reviews                             19655 non-null  int64
 57  number_of_reviews_ltm                         19655 non-null  int64
 58  number_of_reviews_l30d                        19655 non-null  int64
 59  first_review                                  14428 non-null  object
 60  last_review                                   14428 non-null  object
 61  review_scores_rating                          14428 non-null  float64
 62  review_scores_accuracy                        14370 non-null  float64
 63  review_scores_cleanliness                     14372 non-null  float64
 64  review_scores_checkin                         14371 non-null  float64
 65  review_scores_communication                   14370 non-null  float64
 66  review_scores_location                        14371 non-null  float64
 67  review_scores_value                           14370 non-null  float64
 68  license                                       18520 non-null  object
 69  instant_bookable                              19655 non-null  object
 70  calculated_host_listings_count                19655 non-null  int64
 71  calculated_host_listings_count_entire_homes   19655 non-null  int64
 72  calculated_host_listings_count_private_rooms  19655 non-null  int64
 73  calculated_host_listings_count_shared_rooms   19655 non-null  int64
 74  reviews_per_month                             14428 non-null  float64
dtypes: float64(25), int64(15), object(35)
memory usage: 11.2+ MB

In [48]:
#Identificar los valores nulos por columna 
valores_nulos= df.isnull().sum()
valores_nulos

id                                                 0
listing_url                                        0
scrape_id                                          0
last_scraped                                       0
source                                             0
                                                ...
calculated_host_listings_count                     0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                               5227
Length: 75, dtype: int64

In [49]:
valores_nulos.to_csv("valores_nulos.csv")

In [50]:
#Identificar valores nulos por dataframe
valores_nulos= df.isnull().sum().sum()
valores_nulos

174630

In [51]:
#Decidimos ustituir valores nulos por un string en  concreto ya que es informacion cualitativa que no se puede sustituir por un valor numerico 

df["description"] =df["description"].fillna("--") 
df["neighborhood_overview"] =df["neighborhood_overview"].fillna("--")
df["host_location"] =df["host_location"].fillna("--") 
df["host_name"] =df["host_name"].fillna("--") 
df["host_since"] =df["host_since"].fillna("--") 
df["host_location"] =df["host_location"].fillna("--") 
df["host_about"] =df["host_about"].fillna("--") 
df["host_response_time"] =df["host_response_time"].fillna("--") 
df["host_response_rate"] =df["host_response_rate"].fillna("--") 
df["host_acceptance_rate"] =df["host_acceptance_rate"].fillna("--") 
df["host_is_superhost"] =df["host_is_superhost"].fillna("--") 
df["host_thumbnail_url"] =df["host_thumbnail_url"].fillna("--") 
df["host_neighbourhood"] =df["host_neighbourhood"].fillna("--") 
df["host_picture_url"] =df["host_picture_url"].fillna("--") 
df["neighbourhood"] =df["neighbourhood"].fillna("--") 
df["host_listings_count"] =df["host_listings_count"].fillna("--") 
df["host_total_listings_count"] =df["host_total_listings_count"].fillna("--") 
df["neighbourhood_group_cleansed"] =df["neighbourhood_group_cleansed"].fillna("--") 
df["host_has_profile_pic"] =df["host_has_profile_pic"].fillna("--") 
df["host_identity_verified"] =df["host_identity_verified"].fillna("--") 
df["neighbourhood_group_cleansed"] =df["neighbourhood_group_cleansed"].fillna("--") 
df["bathrooms_text"] =df["bathrooms_text"].fillna("--") 
df["last_review"] =df["last_review"].fillna("--") 
df["first_review"] =df["first_review"].fillna("--") 
df["calendar_updated"] =df["calendar_updated"].fillna("--")

In [52]:
#Verificamos los valores nulos no numericos 
valores_nulos= df.isnull().sum()
valores_nulos

id                                                 0
listing_url                                        0
scrape_id                                          0
last_scraped                                       0
source                                             0
                                                ...
calculated_host_listings_count                     0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                               5227
Length: 75, dtype: int64

In [53]:
valores_nulos= df.isnull().sum().sum()
valores_nulos

63552

In [54]:
#Los valores numericos los llenamos con un 0 para no alterar los resultados 
df= df.fillna(0)

In [55]:
valores_nulos= df.isnull().sum()
valores_nulos

id                                              0
listing_url                                     0
scrape_id                                       0
last_scraped                                    0
source                                          0
                                               ..
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
Length: 75, dtype: int64

In [56]:
valores_nulos= df.isnull().sum().sum()
valores_nulos

0

##Metodo de desviacion estandar

In [57]:
#Instalamos librería para análisis de variables categóricas
%pip install funpymodeling

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: funpymodeling in /usr/local/lib/python3.10/dist-packages (0.1.7)
Requirement already satisfied: pandas<2.0.0,>=1.0.5 in /usr/local/lib/python3.10/dist-packages (from funpymodeling) (1.5.3)
Requirement already satisfied: matplotlib<4.0.0,>=3.2.2 in /usr/local/lib/python3.10/dist-packages (from funpymodeling) (3.7.1)
Requirement already satisfied: numpy<2.0.0,>=1.18.5 in /usr/local/lib/python3.10/dist-packages (from funpymodeling) (1.22.4)
Requirement already satisfied: sklearn<0.1,>=0.0 in /usr/local/lib/python3.10/dist-packages (from funpymodeling) (0.0.post4)
Requirement already satisfied: seaborn<0.11.0,>=0.10.1 in /usr/local/lib/python3.10/dist-packages (from funpymodeling) (0.10.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4.0.0,>=3.2.2->funpymodeling) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4.0.0,>=3.2.2->funpymodeling) (0.11.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4.0.0,>=3.2.2->funpymodeling) (1.0.7)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4.0.0,>=3.2.2->funpymodeling) (8.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4.0.0,>=3.2.2->funpymodeling) (3.0.9)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4.0.0,>=3.2.2->funpymodeling) (23.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4.0.0,>=3.2.2->funpymodeling) (4.39.3)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4.0.0,>=3.2.2->funpymodeling) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas<2.0.0,>=1.0.5->funpymodeling) (2022.7.1)
Requirement already satisfied: scipy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from seaborn<0.11.0,>=0.10.1->funpymodeling) (1.10.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib<4.0.0,>=3.2.2->funpymodeling) (1.16.0)

In [58]:
#Importamos las librerias pandas, numpy y matplotlib respectivamente
import pandas as pd
from seaborn import load_dataset
import numpy as np
import matplotlib.pyplot as plt
from funpymodeling.exploratory import freq_tbl

In [59]:
num_df=df.drop(['listing_url','scrape_id','last_scraped','source','name','description','neighborhood_overview', 'picture_url','host_id','host_url','host_name','host_since','host_location','host_about','host_response_time','host_response_rate','host_acceptance_rate','host_is_superhost', 'host_thumbnail_url','host_picture_url','host_neighbourhood','host_total_listings_count','host_verifications', 'host_has_profile_pic', 'host_identity_verified','neighbourhood','neighbourhood_cleansed','neighbourhood_group_cleansed','property_type','room_type','bathrooms_text','amenities','has_availability','calendar_last_scraped','first_review','last_review','license','instant_bookable',], axis=1)
num_df

,id,host_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,1.455100e+04,1.0,41.996500,2.836460,2,0.0,1.0,1.0,$42.00,1,...,4.94,4.89,4.91,4.63,4.74,1,0,1,0,0.37
1,1.205757e+06,1.0,41.793040,2.774120,2,0.0,1.0,1.0,$47.00,2,...,4.85,4.85,4.91,4.69,4.80,1,0,1,0,0.51
2,1.212820e+06,2.0,42.112840,3.166700,4,0.0,1.0,2.0,$74.00,2,...,4.31,4.81,4.76,4.74,4.32,2,2,0,0,0.62
3,7.516380e+05,6.0,42.369580,2.980300,2,0.0,1.0,2.0,$45.00,2,...,4.50,4.86,5.00,4.63,4.50,6,1,5,0,0.08
4,4.134200e+04,2.0,42.346550,3.204630,4,0.0,1.0,1.0,$120.00,7,...,4.82,4.73,4.73,4.91,4.36,1,1,0,0,0.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19650,8.583870e+17,34.0,41.957265,3.201288,8,0.0,4.0,0.0,$209.00,1,...,0.00,0.00,0.00,0.00,0.00,34,34,0,0,0.00
19651,8.583960e+17,3.0,41.699070,2.844080,4,0.0,1.0,1.0,$52.00,3,...,0.00,0.00,0.00,0.00,0.00,1,1,0,0,0.00
19652,8.584110e+17,9.0,41.813720,3.064465,4,0.0,2.0,3.0,$66.00,7,...,0.00,0.00,0.00,0.00,0.00,9,9,0,0,0.00
19653,8.584180e+17,111.0,41.809375,3.053910,4,0.0,2.0,3.0,$108.00,1,...,0.00,0.00,0.00,0.00,0.00,54,54,0,0,0.00
19654,8.584240e+17,9.0,41.810169,3.066358,5,0.0,3.0,3.0,$73.00,7,...,0.00,0.00,0.00,0.00,0.00,9,9,0,0,0.00

In [60]:
cuali=df.drop(['host_response_rate'	,'host_acceptance_rate', 'host_listings_count', 'host_total_listings_count','latitude','longitude','accommodates','beds','price','minimum_nights','maximum_nights','minimum_minimum_nights','maximum_minimum_nights','minimum_maximum_nights','maximum_maximum_nights','minimum_nights_avg_ntm','maximum_nights_avg_ntm','availability_30','availability_60','availability_90','availability_365','number_of_reviews','number_of_reviews_ltm','number_of_reviews_l30d','review_scores_rating','review_scores_accuracy','review_scores_cleanliness','review_scores_checkin','review_scores_communication','review_scores_location','review_scores_value','calculated_host_listings_count','calculated_host_listings_count_entire_homes','calculated_host_listings_count_private_rooms','calculated_host_listings_count_shared_rooms','reviews_per_month'], axis=1)
cuali

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,bathrooms_text,bedrooms,amenities,calendar_updated,has_availability,calendar_last_scraped,first_review,last_review,license,instant_bookable
0,1.455100e+04,https://www.airbnb.com/rooms/14551,2.023030e+13,31/03/2023,city scrape,Cozy & Colorful by Nature (Private Room),Up in the hill of MontjuÃ¯c (a mountain overlo...,MontjuÃ¯c is most likely the best neighborhood...,https://a0.muscache.com/pictures/16209908/f1fe...,57237,...,1 private bath,1.0,"[""Shared pool"", ""Refrigerator"", ""Long term sta...",--,t,31/03/2023,08/10/2010,27/02/2023,HUTG-049542,f
1,1.205757e+06,https://www.airbnb.com/rooms/1205757,2.023030e+13,31/03/2023,city scrape,HabitaciÃ³n doble + baÃ±o y terraza,<b>The space</b><br />HabitaciÃ³n confortable ...,Bonitas playas a 15 minutos en coche. Piscina ...,https://a0.muscache.com/pictures/02e0a61e-078e...,6586355,...,1.5 shared baths,1.0,"[""Free parking on premises"", ""Refrigerator"", ""...",--,t,31/03/2023,01/08/2013,26/06/2022,0,f
2,1.212820e+06,https://www.airbnb.com/rooms/1212820,2.023030e+13,01/04/2023,city scrape,Apartment port de rei stunning wiew,<b>The space</b><br />Apartments first line un...,--,https://a0.muscache.com/pictures/18245529/0886...,6620645,...,1 bath,1.0,"[""Air conditioning"", ""Free parking on premises...",--,t,01/04/2023,10/06/2013,30/12/2022,0,f
3,7.516380e+05,https://www.airbnb.com/rooms/751638,2.023030e+13,31/03/2023,city scrape,Room Limon - Casa Pati de lÂ´Albera,<b>The space</b><br />Nice room with 2 individ...,"Sant Climent is a tiny village, with a populat...",https://a0.muscache.com/pictures/64276178/98d1...,3680160,...,1 private bath,1.0,"[""Hair dryer"", ""Luggage dropoff allowed"", ""Fre...",--,t,31/03/2023,23/08/2013,29/08/2022,PG000794,t
4,4.134200e+04,https://www.airbnb.com/rooms/41342,2.023030e+13,01/04/2023,previous scrape,Beachfront Tamariua (Costa Brava),A little paradise by the sea. Apartment 2/4 ad...,Apartment located outside the town on a small ...,https://a0.muscache.com/pictures/70414801/59d4...,180072,...,1 bath,1.0,"[""Free parking on premises"", ""Refrigerator"", ""...",--,t,01/04/2023,14/07/2013,28/08/2021,HUTG-003688,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19650,8.583870e+17,https://www.airbnb.com/rooms/858386613168601750,2.023030e+13,01/04/2023,city scrape,"Casa La Chumbera, Begur, Costa Brava",Individual house located at the urbanization '...,--,https://a0.muscache.com/pictures/prohost-api/H...,26281633,...,5 baths,4.0,"[""Pets allowed"", ""Smoking allowed"", ""Essentials""]",--,t,01/04/2023,--,--,HUTG-001292,t
19651,8.583960e+17,https://www.airbnb.com/rooms/858396134121337855,2.023030e+13,01/04/2023,city scrape,Playa a 2 minutos,"MagnÃ­fico piso para pasar vacaciones,dispone ...",--,https://a0.muscache.com/pictures/6351279f-294b...,444428600,...,1 bath,1.0,"[""Kitchen"", ""Pets allowed"", ""Washer""]",--,t,01/04/2023,--,--,HUTG019727,t
19652,8.584110e+17,https://www.airbnb.com/rooms/858410917126332945,2.023030e+13,01/04/2023,city scrape,Apartamento cÃ©ntrico,"EstÃ¡ compuesto de dos habitaciones, una de ma...",--,https://a0.muscache.com/pictures/miso/Hosting-...,491503593,...,1 bath,2.0,"[""Kitchen"", ""Free street parking"", ""Washer"", ""...",--,t,01/04/2023,--,--,HUTG-057830,f
19653,8.584180e+17,https://www.airbnb.com/rooms/858418062773719271,2.023030e+13,01/04/2023,city scrape,"Apto a 5 min de la playa, Platja d'Aro",Cozy apartment for 4 people. Perfect to spend ...,--,https://a0.muscache.com/pictures/prohost-api/H...,389605038,...,1 bath,2.0,"[""Refrigerator"", ""Microwave"", ""Elevator"", ""Pet...",--,t,01/04/2023,--,--,HUTG-065236,t
19654,8.584240e+17,https://www.airbnb.com/rooms/858424461046143986,2.023030e+13,01/04/2023,city scrape,Apartamento frontal a mar,"EstÃ¡ compuesto de tres habitaciones, dos habi...",--,https://a0.muscache.com/pictures/miso/Hosting-...,491503593,...,1 bath,3.0,"[""Kitchen"", ""Washer"", ""Clothing storage"", ""Dis...",--,t,01/04/2023,--,--,HUTG-051787,f

In [61]:
#Método aplicando desviación estandar. Encuentro los valores extremos
y=num_df
Limite_Superior= y.mean() + 3*y.std()
Limite_Inferior= y.mean() - 3*y.std()
print("Limite superior permitido", Limite_Superior)
print("Limite inferior permitido", Limite_Inferior)

Limite superior permitido id                                              1.145731e+18
latitude                                        4.269221e+01
longitude                                       3.796862e+00
accommodates                                    1.357642e+01
bathrooms                                       0.000000e+00
bedrooms                                        6.744842e+00
beds                                            1.134397e+01
minimum_nights                                  6.165308e+01
maximum_nights                                  2.126503e+03
minimum_minimum_nights                          3.376581e+01
maximum_minimum_nights                          8.979727e+01
minimum_maximum_nights                          2.150788e+03
maximum_maximum_nights                          2.153494e+03
minimum_nights_avg_ntm                          4.942380e+01
maximum_nights_avg_ntm                          2.094140e+03
availability_30                                 5.065433e+01
availability_60                                 1.028997e+02
availability_90                                 1.500436e+02
availability_365                                5.290134e+02
number_of_reviews                               1.194857e+02
number_of_reviews_ltm                           3.067935e+01
number_of_reviews_l30d                          2.102141e+00
review_scores_rating                            9.575332e+00
review_scores_accuracy                          9.717162e+00
review_scores_cleanliness                       9.556506e+00
review_scores_checkin                           9.827608e+00
review_scores_communication                     9.851103e+00
review_scores_location                          9.828461e+00
review_scores_value                             9.358035e+00
calculated_host_listings_count                  2.506332e+02
calculated_host_listings_count_entire_homes     2.425119e+02
calculated_host_listings_count_private_rooms    1.151000e+01
calculated_host_listings_count_shared_rooms     8.080682e-01
reviews_per_month                               2.442951e+00
dtype: float64
Limite inferior permitido id                                             -7.620646e+17
latitude                                        4.135556e+01
longitude                                       2.211745e+00
accommodates                                   -2.493137e+00
bathrooms                                       0.000000e+00
bedrooms                                       -1.873308e+00
beds                                           -3.434129e+00
minimum_nights                                 -5.401899e+01
maximum_nights                                 -8.076700e+02
minimum_minimum_nights                         -2.725226e+01
maximum_minimum_nights                         -7.570243e+01
minimum_maximum_nights                         -8.981892e+02
maximum_maximum_nights                         -5.976782e+02
minimum_nights_avg_ntm                         -4.027045e+01
maximum_nights_avg_ntm                         -6.269895e+02
availability_30                                -2.022207e+01
availability_60                                -3.518901e+01
availability_90                                -4.426360e+01
availability_365                               -1.456577e+02
number_of_reviews                              -8.940840e+01
number_of_reviews_ltm                          -2.196482e+01
number_of_reviews_l30d                         -1.802675e+00
review_scores_rating                           -2.889159e+00
review_scores_accuracy                         -2.925812e+00
review_scores_cleanliness                      -2.906430e+00
review_scores_checkin                          -2.952811e+00
review_scores_communication                    -2.958904e+00
review_scores_location                         -2.922178e+00
review_scores_value                            -2.855062e+00
calculated_host_listings_count                 -1.727335e+02
calculated_host_listings_count_entire_homes    -1.667810e+02
calculated_host_listings_count_private_rooms   -9.536355e+00
calculated_host_listings_count_shared_rooms    -7.738784e-01
reviews_per_month                              -1.674828e+00
dtype: float64

<ipython-input-61-6de38f69fdc5>:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  Limite_Superior= y.mean() + 3*y.std()
<ipython-input-61-6de38f69fdc5>:3: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  Limite_Superior= y.mean() + 3*y.std()
<ipython-input-61-6de38f69fdc5>:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  Limite_Inferior= y.mean() - 3*y.std()
<ipython-input-61-6de38f69fdc5>:4: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  Limite_Inferior= y.mean() - 3*y.std()

In [62]:
#Encontramos Outliers del Dataframe
outliers= num_df[(y>Limite_Superior)|(y<Limite_Inferior)]
outliers

<ipython-input-62-b0bbabfe39cf>:2: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  outliers= num_df[(y>Limite_Superior)|(y<Limite_Inferior)]

,id,host_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19651,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19652,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19653,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
#Obtenemos datos y los outliers se convierten en nulos en el DataFrame
data3= num_df[(y<=Limite_Superior)&(y>=Limite_Inferior)]
data3

<ipython-input-63-c4fcc73624ed>:2: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  data3= num_df[(y<=Limite_Superior)&(y>=Limite_Inferior)]

,id,host_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,1.455100e+04,NaN,41.996500,2.836460,2.0,0.0,1.0,1.0,NaN,1.0,...,4.94,4.89,4.91,4.63,4.74,1.0,0.0,1.0,0.0,0.37
1,1.205757e+06,NaN,41.793040,2.774120,2.0,0.0,1.0,1.0,NaN,2.0,...,4.85,4.85,4.91,4.69,4.80,1.0,0.0,1.0,0.0,0.51
2,1.212820e+06,NaN,42.112840,3.166700,4.0,0.0,1.0,2.0,NaN,2.0,...,4.31,4.81,4.76,4.74,4.32,2.0,2.0,0.0,0.0,0.62
3,7.516380e+05,NaN,42.369580,2.980300,2.0,0.0,1.0,2.0,NaN,2.0,...,4.50,4.86,5.00,4.63,4.50,6.0,1.0,5.0,0.0,0.08
4,4.134200e+04,NaN,42.346550,3.204630,4.0,0.0,1.0,1.0,NaN,7.0,...,4.82,4.73,4.73,4.91,4.36,1.0,1.0,0.0,0.0,0.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19650,8.583870e+17,NaN,41.957265,3.201288,8.0,0.0,4.0,0.0,NaN,1.0,...,0.00,0.00,0.00,0.00,0.00,34.0,34.0,0.0,0.0,0.00
19651,8.583960e+17,NaN,41.699070,2.844080,4.0,0.0,1.0,1.0,NaN,3.0,...,0.00,0.00,0.00,0.00,0.00,1.0,1.0,0.0,0.0,0.00
19652,8.584110e+17,NaN,41.813720,3.064465,4.0,0.0,2.0,3.0,NaN,7.0,...,0.00,0.00,0.00,0.00,0.00,9.0,9.0,0.0,0.0,0.00
19653,8.584180e+17,NaN,41.809375,3.053910,4.0,0.0,2.0,3.0,NaN,1.0,...,0.00,0.00,0.00,0.00,0.00,54.0,54.0,0.0,0.0,0.00
19654,8.584240e+17,NaN,41.810169,3.066358,5.0,0.0,3.0,3.0,NaN,7.0,...,0.00,0.00,0.00,0.00,0.00,9.0,9.0,0.0,0.0,0.00

In [64]:
#Corroboramos valores nulos del dataframe4
valores_nulos=num_df.isnull().sum()
valores_nulos

id                                              0
host_listings_count                             0
latitude                                        0
longitude                                       0
accommodates                                    0
bathrooms                                       0
bedrooms                                        0
beds                                            0
price                                           0
minimum_nights                                  0
maximum_nights                                  0
minimum_minimum_nights                          0
maximum_minimum_nights                          0
minimum_maximum_nights                          0
maximum_maximum_nights                          0
minimum_nights_avg_ntm                          0
maximum_nights_avg_ntm                          0
calendar_updated                                0
availability_30                                 0
availability_60                                 0
availability_90                                 0
availability_365                                0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
dtype: int64

In [65]:
#Reemplazamos valores atípicos (nulos) del dataframe con "mean"
#Realizamos una copia del dataframe
data_clean=num_df.copy()
data_clean=data_clean.fillna(round(num_df.mean(),1))
data_clean

<ipython-input-65-e2c83ea144dd>:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data_clean=data_clean.fillna(round(num_df.mean(),1))

,id,host_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,1.455100e+04,1.0,41.996500,2.836460,2,0.0,1.0,1.0,$42.00,1,...,4.94,4.89,4.91,4.63,4.74,1,0,1,0,0.37
1,1.205757e+06,1.0,41.793040,2.774120,2,0.0,1.0,1.0,$47.00,2,...,4.85,4.85,4.91,4.69,4.80,1,0,1,0,0.51
2,1.212820e+06,2.0,42.112840,3.166700,4,0.0,1.0,2.0,$74.00,2,...,4.31,4.81,4.76,4.74,4.32,2,2,0,0,0.62
3,7.516380e+05,6.0,42.369580,2.980300,2,0.0,1.0,2.0,$45.00,2,...,4.50,4.86,5.00,4.63,4.50,6,1,5,0,0.08
4,4.134200e+04,2.0,42.346550,3.204630,4,0.0,1.0,1.0,$120.00,7,...,4.82,4.73,4.73,4.91,4.36,1,1,0,0,0.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19650,8.583870e+17,34.0,41.957265,3.201288,8,0.0,4.0,0.0,$209.00,1,...,0.00,0.00,0.00,0.00,0.00,34,34,0,0,0.00
19651,8.583960e+17,3.0,41.699070,2.844080,4,0.0,1.0,1.0,$52.00,3,...,0.00,0.00,0.00,0.00,0.00,1,1,0,0,0.00
19652,8.584110e+17,9.0,41.813720,3.064465,4,0.0,2.0,3.0,$66.00,7,...,0.00,0.00,0.00,0.00,0.00,9,9,0,0,0.00
19653,8.584180e+17,111.0,41.809375,3.053910,4,0.0,2.0,3.0,$108.00,1,...,0.00,0.00,0.00,0.00,0.00,54,54,0,0,0.00
19654,8.584240e+17,9.0,41.810169,3.066358,5,0.0,3.0,3.0,$73.00,7,...,0.00,0.00,0.00,0.00,0.00,9,9,0,0,0.00

In [66]:
#Corroboramos valores nulos del dataframe LIMPIO
valores_nulos=data_clean.isnull().sum()
valores_nulos

id                                              0
host_listings_count                             0
latitude                                        0
longitude                                       0
accommodates                                    0
bathrooms                                       0
bedrooms                                        0
beds                                            0
price                                           0
minimum_nights                                  0
maximum_nights                                  0
minimum_minimum_nights                          0
maximum_minimum_nights                          0
minimum_maximum_nights                          0
maximum_maximum_nights                          0
minimum_nights_avg_ntm                          0
maximum_nights_avg_ntm                          0
calendar_updated                                0
availability_30                                 0
availability_60                                 0
availability_90                                 0
availability_365                                0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
dtype: int64

In [67]:
# Unimos los datas con el dataframe
limpios_desv = pd.concat([num_df,cuali], axis=1)
limpios_desv

,id,host_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,...,bathrooms_text,bedrooms,amenities,calendar_updated,has_availability,calendar_last_scraped,first_review,last_review,license,instant_bookable
0,1.455100e+04,1.0,41.996500,2.836460,2,0.0,1.0,1.0,$42.00,1,...,1 private bath,1.0,"[""Shared pool"", ""Refrigerator"", ""Long term sta...",--,t,31/03/2023,08/10/2010,27/02/2023,HUTG-049542,f
1,1.205757e+06,1.0,41.793040,2.774120,2,0.0,1.0,1.0,$47.00,2,...,1.5 shared baths,1.0,"[""Free parking on premises"", ""Refrigerator"", ""...",--,t,31/03/2023,01/08/2013,26/06/2022,0,f
2,1.212820e+06,2.0,42.112840,3.166700,4,0.0,1.0,2.0,$74.00,2,...,1 bath,1.0,"[""Air conditioning"", ""Free parking on premises...",--,t,01/04/2023,10/06/2013,30/12/2022,0,f
3,7.516380e+05,6.0,42.369580,2.980300,2,0.0,1.0,2.0,$45.00,2,...,1 private bath,1.0,"[""Hair dryer"", ""Luggage dropoff allowed"", ""Fre...",--,t,31/03/2023,23/08/2013,29/08/2022,PG000794,t
4,4.134200e+04,2.0,42.346550,3.204630,4,0.0,1.0,1.0,$120.00,7,...,1 bath,1.0,"[""Free parking on premises"", ""Refrigerator"", ""...",--,t,01/04/2023,14/07/2013,28/08/2021,HUTG-003688,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19650,8.583870e+17,34.0,41.957265,3.201288,8,0.0,4.0,0.0,$209.00,1,...,5 baths,4.0,"[""Pets allowed"", ""Smoking allowed"", ""Essentials""]",--,t,01/04/2023,--,--,HUTG-001292,t
19651,8.583960e+17,3.0,41.699070,2.844080,4,0.0,1.0,1.0,$52.00,3,...,1 bath,1.0,"[""Kitchen"", ""Pets allowed"", ""Washer""]",--,t,01/04/2023,--,--,HUTG019727,t
19652,8.584110e+17,9.0,41.813720,3.064465,4,0.0,2.0,3.0,$66.00,7,...,1 bath,2.0,"[""Kitchen"", ""Free street parking"", ""Washer"", ""...",--,t,01/04/2023,--,--,HUTG-057830,f
19653,8.584180e+17,111.0,41.809375,3.053910,4,0.0,2.0,3.0,$108.00,1,...,1 bath,2.0,"[""Refrigerator"", ""Microwave"", ""Elevator"", ""Pet...",--,t,01/04/2023,--,--,HUTG-065236,t
19654,8.584240e+17,9.0,41.810169,3.066358,5,0.0,3.0,3.0,$73.00,7,...,1 bath,3.0,"[""Kitchen"", ""Washer"", ""Clothing storage"", ""Dis...",--,t,01/04/2023,--,--,HUTG-051787,f

In [68]:
#Corroboramos valores nulos 
limpios_desv=limpios_desv.isnull().sum()
limpios_desv

id                       0
host_listings_count      0
latitude                 0
longitude                0
accommodates             0
                        ..
calendar_last_scraped    0
first_review             0
last_review              0
license                  0
instant_bookable         0
Length: 76, dtype: int64

**PROCEDIMIENTO "CUANTILES" PARA SUSTITUIR OUTLIERS EN DATAFRAME**

In [69]:
#Método aplicando Cuartiles. Encuentro cuartiles 0.25 y 0.75
y=num_df

percentile25=y.quantile(0.25) #Q1
percentile75=y.quantile(0.75) #Q3
iqr= percentile75 - percentile25

Limite_Superior_iqr= percentile75 + 1.5*iqr
Limite_Inferior_iqr= percentile25 - 1.5*iqr
print("Limite superior permitido", Limite_Superior_iqr)
print("Limite inferior permitido", Limite_Inferior_iqr)

Limite superior permitido id                                              1.430535e+18
latitude                                        4.288548e+01
longitude                                       3.623007e+00
accommodates                                    9.000000e+00
bathrooms                                       0.000000e+00
bedrooms                                        6.000000e+00
beds                                            9.500000e+00
minimum_nights                                  1.100000e+01
maximum_nights                                  2.722500e+03
minimum_minimum_nights                          8.500000e+00
maximum_minimum_nights                          1.300000e+01
minimum_maximum_nights                          2.767500e+03
maximum_maximum_nights                          2.265000e+03
minimum_nights_avg_ntm                          9.500000e+00
maximum_nights_avg_ntm                          2.265000e+03
availability_30                                 6.750000e+01
availability_60                                 1.270000e+02
availability_90                                 1.700000e+02
availability_365                                5.805000e+02
number_of_reviews                               3.500000e+01
number_of_reviews_ltm                           1.250000e+01
number_of_reviews_l30d                          0.000000e+00
review_scores_rating                            1.217500e+01
review_scores_accuracy                          1.232500e+01
review_scores_cleanliness                       1.222500e+01
review_scores_checkin                           1.250000e+01
review_scores_communication                     1.250000e+01
review_scores_location                          1.242500e+01
review_scores_value                             1.187500e+01
calculated_host_listings_count                  1.285000e+02
calculated_host_listings_count_entire_homes     1.285000e+02
calculated_host_listings_count_private_rooms    0.000000e+00
calculated_host_listings_count_shared_rooms     0.000000e+00
reviews_per_month                               1.100000e+00
dtype: float64
Limite inferior permitido id                                             -8.583210e+17
latitude                                        4.118752e+01
longitude                                       2.429620e+00
accommodates                                    1.000000e+00
bathrooms                                       0.000000e+00
bedrooms                                       -2.000000e+00
beds                                           -2.500000e+00
minimum_nights                                 -5.000000e+00
maximum_nights                                 -1.537500e+03
minimum_minimum_nights                         -3.500000e+00
maximum_minimum_nights                         -3.000000e+00
minimum_maximum_nights                         -1.612500e+03
maximum_maximum_nights                         -7.750000e+02
minimum_nights_avg_ntm                         -2.500000e+00
maximum_nights_avg_ntm                         -7.750000e+02
availability_30                                -4.050000e+01
availability_60                                -6.500000e+01
availability_90                                -6.200000e+01
availability_365                               -1.915000e+02
number_of_reviews                              -2.100000e+01
number_of_reviews_ltm                          -7.500000e+00
number_of_reviews_l30d                          0.000000e+00
review_scores_rating                           -7.305000e+00
review_scores_accuracy                         -7.395000e+00
review_scores_cleanliness                      -7.335000e+00
review_scores_checkin                          -7.500000e+00
review_scores_communication                    -7.500000e+00
review_scores_location                         -7.455000e+00
review_scores_value                            -7.125000e+00
calculated_host_listings_count                 -7.550000e+01
calculated_host_listings_count_entire_homes    -7.550000e+01
calculated_host_listings_count_private_rooms    0.000000e+00
calculated_host_listings_count_shared_rooms     0.000000e+00
reviews_per_month                              -6.600000e-01
dtype: float64

<ipython-input-69-ae1310e2fd75>:4: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  percentile25=y.quantile(0.25) #Q1
<ipython-input-69-ae1310e2fd75>:5: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  percentile75=y.quantile(0.75) #Q3

In [70]:
#Encontramos Outliers del Dataframe
outliers_iqr= num_df[(y>Limite_Superior_iqr)|(y<Limite_Inferior_iqr)]
outliers_iqr

<ipython-input-70-12132436df6d>:2: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  outliers_iqr= num_df[(y>Limite_Superior_iqr)|(y<Limite_Inferior_iqr)]

,id,host_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19651,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19652,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19653,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
#Obtenemos datos limpios del Dataframe
data3_iqr= num_df[(y<=Limite_Superior_iqr)&(y>=Limite_Inferior_iqr)]
data3_iqr

<ipython-input-71-2db8a2765c89>:2: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  data3_iqr= num_df[(y<=Limite_Superior_iqr)&(y>=Limite_Inferior_iqr)]

,id,host_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,1.455100e+04,NaN,41.996500,2.836460,2.0,0.0,1.0,1.0,NaN,1.0,...,4.94,4.89,4.91,4.63,4.74,1.0,0.0,NaN,0.0,0.37
1,1.205757e+06,NaN,41.793040,2.774120,2.0,0.0,1.0,1.0,NaN,2.0,...,4.85,4.85,4.91,4.69,4.80,1.0,0.0,NaN,0.0,0.51
2,1.212820e+06,NaN,42.112840,3.166700,4.0,0.0,1.0,2.0,NaN,2.0,...,4.31,4.81,4.76,4.74,4.32,2.0,2.0,0.0,0.0,0.62
3,7.516380e+05,NaN,42.369580,2.980300,2.0,0.0,1.0,2.0,NaN,2.0,...,4.50,4.86,5.00,4.63,4.50,6.0,1.0,NaN,0.0,0.08
4,4.134200e+04,NaN,42.346550,3.204630,4.0,0.0,1.0,1.0,NaN,7.0,...,4.82,4.73,4.73,4.91,4.36,1.0,1.0,0.0,0.0,0.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19650,8.583870e+17,NaN,41.957265,3.201288,8.0,0.0,4.0,0.0,NaN,1.0,...,0.00,0.00,0.00,0.00,0.00,34.0,34.0,0.0,0.0,0.00
19651,8.583960e+17,NaN,41.699070,2.844080,4.0,0.0,1.0,1.0,NaN,3.0,...,0.00,0.00,0.00,0.00,0.00,1.0,1.0,0.0,0.0,0.00
19652,8.584110e+17,NaN,41.813720,3.064465,4.0,0.0,2.0,3.0,NaN,7.0,...,0.00,0.00,0.00,0.00,0.00,9.0,9.0,0.0,0.0,0.00
19653,8.584180e+17,NaN,41.809375,3.053910,4.0,0.0,2.0,3.0,NaN,1.0,...,0.00,0.00,0.00,0.00,0.00,54.0,54.0,0.0,0.0,0.00
19654,8.584240e+17,NaN,41.810169,3.066358,5.0,0.0,3.0,3.0,NaN,7.0,...,0.00,0.00,0.00,0.00,0.00,9.0,9.0,0.0,0.0,0.00

In [72]:
#Corroboramos valores nulos del dataframe LIMPIO
valores_nulos=num_df.isnull().sum()
valores_nulos

id                                              0
host_listings_count                             0
latitude                                        0
longitude                                       0
accommodates                                    0
bathrooms                                       0
bedrooms                                        0
beds                                            0
price                                           0
minimum_nights                                  0
maximum_nights                                  0
minimum_minimum_nights                          0
maximum_minimum_nights                          0
minimum_maximum_nights                          0
maximum_maximum_nights                          0
minimum_nights_avg_ntm                          0
maximum_nights_avg_ntm                          0
calendar_updated                                0
availability_30                                 0
availability_60                                 0
availability_90                                 0
availability_365                                0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
dtype: int64

In [73]:
#Reemplazamos valores atípicos (nulos) del dataframe con "mean"
#Realizamos una copia del dataframe
data5_iqr=num_df.copy()
data5_iqr=data5_iqr.fillna(round(num_df.mean(),1))
data5_iqr

<ipython-input-73-9164b51ca533>:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data5_iqr=data5_iqr.fillna(round(num_df.mean(),1))

,id,host_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,1.455100e+04,1.0,41.996500,2.836460,2,0.0,1.0,1.0,$42.00,1,...,4.94,4.89,4.91,4.63,4.74,1,0,1,0,0.37
1,1.205757e+06,1.0,41.793040,2.774120,2,0.0,1.0,1.0,$47.00,2,...,4.85,4.85,4.91,4.69,4.80,1,0,1,0,0.51
2,1.212820e+06,2.0,42.112840,3.166700,4,0.0,1.0,2.0,$74.00,2,...,4.31,4.81,4.76,4.74,4.32,2,2,0,0,0.62
3,7.516380e+05,6.0,42.369580,2.980300,2,0.0,1.0,2.0,$45.00,2,...,4.50,4.86,5.00,4.63,4.50,6,1,5,0,0.08
4,4.134200e+04,2.0,42.346550,3.204630,4,0.0,1.0,1.0,$120.00,7,...,4.82,4.73,4.73,4.91,4.36,1,1,0,0,0.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19650,8.583870e+17,34.0,41.957265,3.201288,8,0.0,4.0,0.0,$209.00,1,...,0.00,0.00,0.00,0.00,0.00,34,34,0,0,0.00
19651,8.583960e+17,3.0,41.699070,2.844080,4,0.0,1.0,1.0,$52.00,3,...,0.00,0.00,0.00,0.00,0.00,1,1,0,0,0.00
19652,8.584110e+17,9.0,41.813720,3.064465,4,0.0,2.0,3.0,$66.00,7,...,0.00,0.00,0.00,0.00,0.00,9,9,0,0,0.00
19653,8.584180e+17,111.0,41.809375,3.053910,4,0.0,2.0,3.0,$108.00,1,...,0.00,0.00,0.00,0.00,0.00,54,54,0,0,0.00
19654,8.584240e+17,9.0,41.810169,3.066358,5,0.0,3.0,3.0,$73.00,7,...,0.00,0.00,0.00,0.00,0.00,9,9,0,0,0.00

In [75]:
#Corroboramos valores nulos del dataframe LIMPIO
valores_nulos=data5_iqr.isnull().sum()
valores_nulos

id                                              0
host_listings_count                             0
latitude                                        0
longitude                                       0
accommodates                                    0
bathrooms                                       0
bedrooms                                        0
beds                                            0
price                                           0
minimum_nights                                  0
maximum_nights                                  0
minimum_minimum_nights                          0
maximum_minimum_nights                          0
minimum_maximum_nights                          0
maximum_maximum_nights                          0
minimum_nights_avg_ntm                          0
maximum_nights_avg_ntm                          0
calendar_updated                                0
availability_30                                 0
availability_60                                 0
availability_90                                 0
availability_365                                0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
dtype: int64

In [78]:
#Reemplazamos valores atípicos (nulos) del dataframe con "mean"
#Realizamos una copia del dataframe
data6_iqr=cuali.copy()
data6_iqr=data5_iqr.fillna(round(cuali.mean()))
data6_iqr

<ipython-input-78-1c20573ef626>:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data6_iqr=data5_iqr.fillna(round(cuali.mean()))

,id,host_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,1.455100e+04,1.0,41.996500,2.836460,2,0.0,1.0,1.0,$42.00,1,...,4.94,4.89,4.91,4.63,4.74,1,0,1,0,0.37
1,1.205757e+06,1.0,41.793040,2.774120,2,0.0,1.0,1.0,$47.00,2,...,4.85,4.85,4.91,4.69,4.80,1,0,1,0,0.51
2,1.212820e+06,2.0,42.112840,3.166700,4,0.0,1.0,2.0,$74.00,2,...,4.31,4.81,4.76,4.74,4.32,2,2,0,0,0.62
3,7.516380e+05,6.0,42.369580,2.980300,2,0.0,1.0,2.0,$45.00,2,...,4.50,4.86,5.00,4.63,4.50,6,1,5,0,0.08
4,4.134200e+04,2.0,42.346550,3.204630,4,0.0,1.0,1.0,$120.00,7,...,4.82,4.73,4.73,4.91,4.36,1,1,0,0,0.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19650,8.583870e+17,34.0,41.957265,3.201288,8,0.0,4.0,0.0,$209.00,1,...,0.00,0.00,0.00,0.00,0.00,34,34,0,0,0.00
19651,8.583960e+17,3.0,41.699070,2.844080,4,0.0,1.0,1.0,$52.00,3,...,0.00,0.00,0.00,0.00,0.00,1,1,0,0,0.00
19652,8.584110e+17,9.0,41.813720,3.064465,4,0.0,2.0,3.0,$66.00,7,...,0.00,0.00,0.00,0.00,0.00,9,9,0,0,0.00
19653,8.584180e+17,111.0,41.809375,3.053910,4,0.0,2.0,3.0,$108.00,1,...,0.00,0.00,0.00,0.00,0.00,54,54,0,0,0.00
19654,8.584240e+17,9.0,41.810169,3.066358,5,0.0,3.0,3.0,$73.00,7,...,0.00,0.00,0.00,0.00,0.00,9,9,0,0,0.00

In [79]:
limpios_iqr = pd.concat([num_df, cuali], axis=1)
limpios_iqr

,id,host_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,...,bathrooms_text,bedrooms,amenities,calendar_updated,has_availability,calendar_last_scraped,first_review,last_review,license,instant_bookable
0,1.455100e+04,1.0,41.996500,2.836460,2,0.0,1.0,1.0,$42.00,1,...,1 private bath,1.0,"[""Shared pool"", ""Refrigerator"", ""Long term sta...",--,t,31/03/2023,08/10/2010,27/02/2023,HUTG-049542,f
1,1.205757e+06,1.0,41.793040,2.774120,2,0.0,1.0,1.0,$47.00,2,...,1.5 shared baths,1.0,"[""Free parking on premises"", ""Refrigerator"", ""...",--,t,31/03/2023,01/08/2013,26/06/2022,0,f
2,1.212820e+06,2.0,42.112840,3.166700,4,0.0,1.0,2.0,$74.00,2,...,1 bath,1.0,"[""Air conditioning"", ""Free parking on premises...",--,t,01/04/2023,10/06/2013,30/12/2022,0,f
3,7.516380e+05,6.0,42.369580,2.980300,2,0.0,1.0,2.0,$45.00,2,...,1 private bath,1.0,"[""Hair dryer"", ""Luggage dropoff allowed"", ""Fre...",--,t,31/03/2023,23/08/2013,29/08/2022,PG000794,t
4,4.134200e+04,2.0,42.346550,3.204630,4,0.0,1.0,1.0,$120.00,7,...,1 bath,1.0,"[""Free parking on premises"", ""Refrigerator"", ""...",--,t,01/04/2023,14/07/2013,28/08/2021,HUTG-003688,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19650,8.583870e+17,34.0,41.957265,3.201288,8,0.0,4.0,0.0,$209.00,1,...,5 baths,4.0,"[""Pets allowed"", ""Smoking allowed"", ""Essentials""]",--,t,01/04/2023,--,--,HUTG-001292,t
19651,8.583960e+17,3.0,41.699070,2.844080,4,0.0,1.0,1.0,$52.00,3,...,1 bath,1.0,"[""Kitchen"", ""Pets allowed"", ""Washer""]",--,t,01/04/2023,--,--,HUTG019727,t
19652,8.584110e+17,9.0,41.813720,3.064465,4,0.0,2.0,3.0,$66.00,7,...,1 bath,2.0,"[""Kitchen"", ""Free street parking"", ""Washer"", ""...",--,t,01/04/2023,--,--,HUTG-057830,f
19653,8.584180e+17,111.0,41.809375,3.053910,4,0.0,2.0,3.0,$108.00,1,...,1 bath,2.0,"[""Refrigerator"", ""Microwave"", ""Elevator"", ""Pet...",--,t,01/04/2023,--,--,HUTG-065236,t
19654,8.584240e+17,9.0,41.810169,3.066358,5,0.0,3.0,3.0,$73.00,7,...,1 bath,3.0,"[""Kitchen"", ""Washer"", ""Clothing storage"", ""Dis...",--,t,01/04/2023,--,--,HUTG-051787,f

In [81]:
#Convertir DataFrame a CSV
limpios_iqr.to_csv("valores_nulos_españa.csv")
#descargar archivo filtrado en csv
from google.colab import files 
  
  
files.download("valores_nulos_españa.csv")