<a href="https://colab.research.google.com/github/valeriamedina2/Evaluacion/blob/main/mexico_Evaluacion_Etapa1_A0127050.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Etapa 1**
##Valeria Medina 
##Datos Mexico

In [1]:
#Importamos librerías requeridas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#Leemos el codigo 
df= pd.read_csv("DF_Mexico (1).csv")
df

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2056638,https://www.airbnb.com/rooms/2056638,20230329041210,2023-03-30,city scrape,Amplio y luminoso loft en Coyoacán,Cómodo loft de dos pisos magníficamente ubicad...,NaN,https://a0.muscache.com/pictures/28353712/4379...,10531228,...,4.95,5.00,4.86,NaN,f,3.0,3.0,0.0,0.0,0.19
1,2072354,https://www.airbnb.com/rooms/2072354,20230329041210,2023-03-30,city scrape,Coyoacan Historic Studio Apartment,This studio flat is adjacent to the owner's ho...,"Located in Coyoacan, in a quiet neighborhood w...",https://a0.muscache.com/pictures/369f3371-593a...,16840050,...,5.00,4.95,4.84,NaN,f,2.0,2.0,0.0,0.0,0.54
2,696037,https://www.airbnb.com/rooms/696037,20230329041210,2023-03-29,city scrape,"3 Bedrooms, 2 blocks from Polanco - ALL RENOVA...","Beautifully decorated 3 bedroom apartment, it ...","This area is called Nuevo Polanco, it has bein...",https://a0.muscache.com/pictures/10960397/67b2...,3531879,...,4.92,4.58,4.71,NaN,f,3.0,3.0,0.0,0.0,0.31
3,35797,https://www.airbnb.com/rooms/35797,20230329041210,2023-03-29,city scrape,Villa Dante,"Dentro de Villa un estudio de arte con futon, ...","Centro comercial Santa Fe, parque interlomas y...",https://a0.muscache.com/pictures/f395ab78-1185...,153786,...,NaN,NaN,NaN,NaN,f,1.0,1.0,0.0,0.0,NaN
4,44616,https://www.airbnb.com/rooms/44616,20230329041210,2023-03-30,city scrape,CONDESA HAUS B&B,A new concept of hosting in mexico through a b...,NaN,https://a0.muscache.com/pictures/251410/ec75fe...,196253,...,4.78,4.98,4.48,NaN,f,12.0,3.0,2.0,0.0,0.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3517,22422552,https://www.airbnb.com/rooms/22422552,20230329041210,2023-03-30,city scrape,"Modern and comfy apt in Downtown, near Garibaldi",Beautiful and modern apt filled with natural l...,NEIBORHOOD :<br />The neighboorhood is very we...,https://a0.muscache.com/pictures/c17eaebf-8938...,20229575,...,4.96,4.97,4.93,NaN,f,9.0,9.0,0.0,0.0,1.19
3518,22786735,https://www.airbnb.com/rooms/22786735,20230329041210,2023-03-30,city scrape,❤️ WTC AREA @ TRENDY NAPOLES ⭐ CLEAN & COZY,Discover this warm and bright contemporary apa...,"Located in the ""colonia"" Nápoles, is a perfect...",https://a0.muscache.com/pictures/miso/Hosting-...,117904056,...,4.96,4.91,4.81,NaN,f,1.0,1.0,0.0,0.0,0.85
3519,22422562,https://www.airbnb.com/rooms/22422562,20230329041210,2023-03-29,city scrape,23 Departamento completo Excelente Ubicación,"Full apartment, fully equipped, with excellent...",Colonia Narvarte is an area very well located ...,https://a0.muscache.com/pictures/f947f21d-c7fb...,20030198,...,4.85,4.91,4.49,NaN,f,7.0,7.0,0.0,0.0,1.29
3520,22714371,https://www.airbnb.com/rooms/22714371,20230329041210,2023-03-29,city scrape,Cálido Departamento en Coyoacán,"Servicios; WiFi gratis, Televisión por cable, ...",Esta ubicado en el antiguo e histórico Barrio ...,https://a0.muscache.com/pictures/dde87fcd-469f...,163710133,...,4.85,4.80,4.64,NaN,f,1.0,1.0,0.0,0.0,2.31
3521,22715728,https://www.airbnb.com/rooms/22715728,20230329041210,2023-03-30,city scrape,"Habitación en Lindo, Nuevo, Centrico Roma Sur",NaN,10 min walking distance to Parque México. 1 st...,https://a0.muscache.com/pictures/eb32a963-bdd3...,29049569,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2056638,https://www.airbnb.com/rooms/2056638,20230329041210,2023-03-30,city scrape,Amplio y luminoso loft en Coyoacán,Cómodo loft de dos pisos magníficamente ubicad...,NaN,https://a0.muscache.com/pictures/28353712/4379...,10531228,...,4.95,5.00,4.86,NaN,f,3.0,3.0,0.0,0.0,0.19
1,2072354,https://www.airbnb.com/rooms/2072354,20230329041210,2023-03-30,city scrape,Coyoacan Historic Studio Apartment,This studio flat is adjacent to the owner's ho...,"Located in Coyoacan, in a quiet neighborhood w...",https://a0.muscache.com/pictures/369f3371-593a...,16840050,...,5.00,4.95,4.84,NaN,f,2.0,2.0,0.0,0.0,0.54
2,696037,https://www.airbnb.com/rooms/696037,20230329041210,2023-03-29,city scrape,"3 Bedrooms, 2 blocks from Polanco - ALL RENOVA...","Beautifully decorated 3 bedroom apartment, it ...","This area is called Nuevo Polanco, it has bein...",https://a0.muscache.com/pictures/10960397/67b2...,3531879,...,4.92,4.58,4.71,NaN,f,3.0,3.0,0.0,0.0,0.31
3,35797,https://www.airbnb.com/rooms/35797,20230329041210,2023-03-29,city scrape,Villa Dante,"Dentro de Villa un estudio de arte con futon, ...","Centro comercial Santa Fe, parque interlomas y...",https://a0.muscache.com/pictures/f395ab78-1185...,153786,...,NaN,NaN,NaN,NaN,f,1.0,1.0,0.0,0.0,NaN
4,44616,https://www.airbnb.com/rooms/44616,20230329041210,2023-03-30,city scrape,CONDESA HAUS B&B,A new concept of hosting in mexico through a b...,NaN,https://a0.muscache.com/pictures/251410/ec75fe...,196253,...,4.78,4.98,4.48,NaN,f,12.0,3.0,2.0,0.0,0.46

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3522 entries, 0 to 3521
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            3522 non-null   int64
 1   listing_url                                   3522 non-null   object
 2   scrape_id                                     3522 non-null   int64
 3   last_scraped                                  3522 non-null   object
 4   source                                        3522 non-null   object
 5   name                                          3522 non-null   object
 6   description                                   3475 non-null   object
 7   neighborhood_overview                         2720 non-null   object
 8   picture_url                                   3522 non-null   object
 9   host_id                                       3522 non-null   int64
 10  host_url                                      3522 non-null   object
 11  host_name                                     3522 non-null   object
 12  host_since                                    3522 non-null   object
 13  host_location                                 3281 non-null   object
 14  host_about                                    2502 non-null   object
 15  host_response_time                            2876 non-null   object
 16  host_response_rate                            2876 non-null   object
 17  host_acceptance_rate                          3109 non-null   object
 18  host_is_superhost                             3522 non-null   object
 19  host_thumbnail_url                            3522 non-null   object
 20  host_picture_url                              3522 non-null   object
 21  host_neighbourhood                            2202 non-null   object
 22  host_listings_count                           3522 non-null   int64
 23  host_total_listings_count                     3522 non-null   int64
 24  host_verifications                            3522 non-null   object
 25  host_has_profile_pic                          3522 non-null   object
 26  host_identity_verified                        3522 non-null   object
 27  neighbourhood                                 2720 non-null   object
 28  neighbourhood_cleansed                        3522 non-null   object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      3522 non-null   float64
 31  longitude                                     3521 non-null   float64
 32  property_type                                 3521 non-null   object
 33  room_type                                     3521 non-null   object
 34  accommodates                                  3521 non-null   float64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                3514 non-null   object
 37  bedrooms                                      3454 non-null   float64
 38  beds                                          3505 non-null   float64
 39  amenities                                     3521 non-null   object
 40  price                                         3521 non-null   object
 41  minimum_nights                                3521 non-null   float64
 42  maximum_nights                                3521 non-null   float64
 43  minimum_minimum_nights                        3521 non-null   float64
 44  maximum_minimum_nights                        3521 non-null   float64
 45  minimum_maximum_nights                        3521 non-null   float64
 46  maximum_maximum_nights                        3521 non-null   float64
 47  minimum_nights_avg_ntm                        3521 non-null   float64
 48  maximum_nights_avg_ntm                        3521 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              3521 non-null   object
 51  availability_30                               3521 non-null   float64
 52  availability_60                               3521 non-null   float64
 53  availability_90                               3521 non-null   float64
 54  availability_365                              3521 non-null   float64
 55  calendar_last_scraped                         3521 non-null   object
 56  number_of_reviews                             3521 non-null   float64
 57  number_of_reviews_ltm                         3521 non-null   float64
 58  number_of_reviews_l30d                        3521 non-null   float64
 59  first_review                                  3248 non-null   object
 60  last_review                                   3248 non-null   object
 61  review_scores_rating                          3248 non-null   float64
 62  review_scores_accuracy                        3217 non-null   float64
 63  review_scores_cleanliness                     3219 non-null   float64
 64  review_scores_checkin                         3217 non-null   float64
 65  review_scores_communication                   3217 non-null   float64
 66  review_scores_location                        3217 non-null   float64
 67  review_scores_value                           3217 non-null   float64
 68  license                                       0 non-null      float64
 69  instant_bookable                              3521 non-null   object
 70  calculated_host_listings_count                3521 non-null   float64
 71  calculated_host_listings_count_entire_homes   3521 non-null   float64
 72  calculated_host_listings_count_private_rooms  3521 non-null   float64
 73  calculated_host_listings_count_shared_rooms   3521 non-null   float64
 74  reviews_per_month                             3248 non-null   float64
dtypes: float64(36), int64(5), object(34)
memory usage: 2.0+ MB

In [6]:
#Identificar los valores nulos por columna 
valores_nulos= df.isnull().sum()
valores_nulos

id                                                0
listing_url                                       0
scrape_id                                         0
last_scraped                                      0
source                                            0
                                               ...
calculated_host_listings_count                    1
calculated_host_listings_count_entire_homes       1
calculated_host_listings_count_private_rooms      1
calculated_host_listings_count_shared_rooms       1
reviews_per_month                               274
Length: 75, dtype: int64

In [7]:
valores_nulos.to_csv("valores_nulos.csv")

In [8]:
#Identificar valores nulos por dataframe
valores_nulos= df.isnull().sum().sum()
valores_nulos

23070

In [9]:
#Decidimos ustituir valores nulos por un string en  concreto ya que es informacion cualitativa que no se puede sustituir por un valor numerico 

df["description"] =df["description"].fillna("--") 
df["neighborhood_overview"] =df["neighborhood_overview"].fillna("--") 
df["host_location"] =df["host_location"].fillna("--") 
df["host_about"] =df["host_about"].fillna("--") 
df["host_response_time"] =df["host_response_time"].fillna("--") 
df["host_response_rate"] =df["host_response_rate"].fillna("--") 
df["host_acceptance_rate"] =df["host_acceptance_rate"].fillna("--") 
df["host_is_superhost"] =df["host_is_superhost"].fillna("--") 
df["host_neighbourhood"] =df["host_neighbourhood"].fillna("--") 
df["neighbourhood"] =df["neighbourhood"].fillna("--") 
df["neighbourhood_group_cleansed"] =df["neighbourhood_group_cleansed"].fillna("--") 
df["bathrooms_text"] =df["bathrooms_text"].fillna("--") 
df["last_review"] =df["last_review"].fillna("--") 
df["first_review"] =df["first_review"].fillna("--") 
df["calendar_updated"] =df["calendar_updated"].fillna("--")

In [10]:
#Verificamos los valores nulos no numericos 
valores_nulos= df.isnull().sum()
valores_nulos

id                                                0
listing_url                                       0
scrape_id                                         0
last_scraped                                      0
source                                            0
                                               ...
calculated_host_listings_count                    1
calculated_host_listings_count_entire_homes       1
calculated_host_listings_count_private_rooms      1
calculated_host_listings_count_shared_rooms       1
reviews_per_month                               274
Length: 75, dtype: int64

In [11]:
valores_nulos= df.isnull().sum().sum()
valores_nulos

9533

In [12]:
#Los valores numericos los llenamos con un 0 para no alterar los resultados 
df= df.fillna(0)

In [13]:
valores_nulos= df.isnull().sum()
valores_nulos

id                                              0
listing_url                                     0
scrape_id                                       0
last_scraped                                    0
source                                          0
                                               ..
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
Length: 75, dtype: int64

In [14]:
valores_nulos= df.isnull().sum().sum()
valores_nulos

0

##Metodo de desviacion estandar

In [16]:
#Instalamos librería para análisis de variables categóricas
%pip install funpymodeling

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: funpymodeling in /usr/local/lib/python3.10/dist-packages (0.1.7)
Requirement already satisfied: seaborn<0.11.0,>=0.10.1 in /usr/local/lib/python3.10/dist-packages (from funpymodeling) (0.10.1)
Requirement already satisfied: matplotlib<4.0.0,>=3.2.2 in /usr/local/lib/python3.10/dist-packages (from funpymodeling) (3.7.1)
Requirement already satisfied: sklearn<0.1,>=0.0 in /usr/local/lib/python3.10/dist-packages (from funpymodeling) (0.0.post4)
Requirement already satisfied: pandas<2.0.0,>=1.0.5 in /usr/local/lib/python3.10/dist-packages (from funpymodeling) (1.5.3)
Requirement already satisfied: numpy<2.0.0,>=1.18.5 in /usr/local/lib/python3.10/dist-packages (from funpymodeling) (1.22.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4.0.0,>=3.2.2->funpymodeling) (23.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4.0.0,>=3.2.2->funpymodeling) (4.39.3)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4.0.0,>=3.2.2->funpymodeling) (3.0.9)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4.0.0,>=3.2.2->funpymodeling) (1.0.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4.0.0,>=3.2.2->funpymodeling) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4.0.0,>=3.2.2->funpymodeling) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4.0.0,>=3.2.2->funpymodeling) (8.4.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4.0.0,>=3.2.2->funpymodeling) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas<2.0.0,>=1.0.5->funpymodeling) (2022.7.1)
Requirement already satisfied: scipy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from seaborn<0.11.0,>=0.10.1->funpymodeling) (1.10.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib<4.0.0,>=3.2.2->funpymodeling) (1.16.0)

In [17]:
#Importamos las librerias pandas, numpy y matplotlib respectivamente
import pandas as pd
from seaborn import load_dataset
import numpy as np
import matplotlib.pyplot as plt
from funpymodeling.exploratory import freq_tbl

In [19]:
num_df=df.drop(['listing_url','scrape_id','last_scraped','source','name','description','neighborhood_overview', 'picture_url','host_id','host_url','host_name','host_since','host_location','host_about','host_response_time','host_response_rate','host_acceptance_rate','host_is_superhost', 'host_thumbnail_url','host_picture_url','host_neighbourhood','host_total_listings_count','host_verifications', 'host_has_profile_pic', 'host_identity_verified','neighbourhood','neighbourhood_cleansed','neighbourhood_group_cleansed','property_type','room_type','bathrooms_text','amenities','has_availability','calendar_last_scraped','first_review','last_review','license','instant_bookable',], axis=1)
num_df

,id,host_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2056638,3,19.35353,-99.16299,3.0,0.0,1.0,1.0,"$1,434.00",1.0,...,4.95,5.00,4.95,5.00,4.86,3.0,3.0,0.0,0.0,0.19
1,2072354,3,19.35358,-99.16948,2.0,0.0,1.0,1.0,$830.00,3.0,...,4.88,4.93,5.00,4.95,4.84,2.0,2.0,0.0,0.0,0.54
2,696037,4,19.44180,-99.18402,6.0,0.0,3.0,3.0,"$1,469.00",24.0,...,4.71,4.92,4.92,4.58,4.71,3.0,3.0,0.0,0.0,0.31
3,35797,1,19.38283,-99.27178,2.0,0.0,1.0,1.0,"$3,658.00",1.0,...,0.00,0.00,0.00,0.00,0.00,1.0,1.0,0.0,0.0,0.00
4,44616,16,19.41162,-99.17794,14.0,0.0,5.0,8.0,"$18,000.00",1.0,...,4.70,4.87,4.78,4.98,4.48,12.0,3.0,2.0,0.0,0.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3517,22422552,9,19.43784,-99.14078,4.0,0.0,1.0,1.0,"$1,135.00",1.0,...,4.91,4.88,4.96,4.97,4.93,9.0,9.0,0.0,0.0,1.19
3518,22786735,1,19.39708,-99.17802,4.0,0.0,2.0,2.0,$979.00,2.0,...,4.92,5.00,4.96,4.91,4.81,1.0,1.0,0.0,0.0,0.85
3519,22422562,7,19.39075,-99.15942,2.0,0.0,1.0,1.0,$433.00,3.0,...,4.39,4.91,4.85,4.91,4.49,7.0,7.0,0.0,0.0,1.29
3520,22714371,1,19.35681,-99.15275,4.0,0.0,2.0,2.0,$878.00,1.0,...,4.66,4.90,4.85,4.80,4.64,1.0,1.0,0.0,0.0,2.31
3521,22715728,2,19.30000,0.00000,0.0,0.0,0.0,0.0,0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.00

In [20]:
cuali=df.drop(['host_response_rate'	,'host_acceptance_rate', 'host_listings_count', 'host_total_listings_count','latitude','longitude','accommodates','beds','price','minimum_nights','maximum_nights','minimum_minimum_nights','maximum_minimum_nights','minimum_maximum_nights','maximum_maximum_nights','minimum_nights_avg_ntm','maximum_nights_avg_ntm','availability_30','availability_60','availability_90','availability_365','number_of_reviews','number_of_reviews_ltm','number_of_reviews_l30d','review_scores_rating','review_scores_accuracy','review_scores_cleanliness','review_scores_checkin','review_scores_communication','review_scores_location','review_scores_value','calculated_host_listings_count','calculated_host_listings_count_entire_homes','calculated_host_listings_count_private_rooms','calculated_host_listings_count_shared_rooms','reviews_per_month'], axis=1)
cuali

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,bathrooms_text,bedrooms,amenities,calendar_updated,has_availability,calendar_last_scraped,first_review,last_review,license,instant_bookable
0,2056638,https://www.airbnb.com/rooms/2056638,20230329041210,2023-03-30,city scrape,Amplio y luminoso loft en Coyoacán,Cómodo loft de dos pisos magníficamente ubicad...,--,https://a0.muscache.com/pictures/28353712/4379...,10531228,...,1.5 baths,1.0,"[""Wifi"", ""Hangers"", ""Fire extinguisher"", ""Sham...",--,t,2023-03-30,2014-01-03,2018-06-24,0.0,f
1,2072354,https://www.airbnb.com/rooms/2072354,20230329041210,2023-03-30,city scrape,Coyoacan Historic Studio Apartment,This studio flat is adjacent to the owner's ho...,"Located in Coyoacan, in a quiet neighborhood w...",https://a0.muscache.com/pictures/369f3371-593a...,16840050,...,1 bath,1.0,"[""Free street parking"", ""Cleaning products"", ""...",--,t,2023-03-30,2014-01-01,2022-11-04,0.0,f
2,696037,https://www.airbnb.com/rooms/696037,20230329041210,2023-03-29,city scrape,"3 Bedrooms, 2 blocks from Polanco - ALL RENOVA...","Beautifully decorated 3 bedroom apartment, it ...","This area is called Nuevo Polanco, it has bein...",https://a0.muscache.com/pictures/10960397/67b2...,3531879,...,2 baths,3.0,"[""Wifi \u2013 38 Mbps"", ""Central air condition...",--,t,2023-03-29,2012-10-31,2022-12-21,0.0,f
3,35797,https://www.airbnb.com/rooms/35797,20230329041210,2023-03-29,city scrape,Villa Dante,"Dentro de Villa un estudio de arte con futon, ...","Centro comercial Santa Fe, parque interlomas y...",https://a0.muscache.com/pictures/f395ab78-1185...,153786,...,1 bath,1.0,"[""Wifi"", ""Washer"", ""BBQ grill"", ""Indoor firepl...",--,t,2023-03-29,--,--,0.0,f
4,44616,https://www.airbnb.com/rooms/44616,20230329041210,2023-03-30,city scrape,CONDESA HAUS B&B,A new concept of hosting in mexico through a b...,--,https://a0.muscache.com/pictures/251410/ec75fe...,196253,...,5.5 baths,5.0,"[""Free street parking"", ""Security cameras on p...",--,t,2023-03-30,2011-11-09,2023-03-26,0.0,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3517,22422552,https://www.airbnb.com/rooms/22422552,20230329041210,2023-03-30,city scrape,"Modern and comfy apt in Downtown, near Garibaldi",Beautiful and modern apt filled with natural l...,NEIBORHOOD :<br />The neighboorhood is very we...,https://a0.muscache.com/pictures/c17eaebf-8938...,20229575,...,1 bath,1.0,"[""BBQ grill"", ""Long term stays allowed"", ""TV w...",--,t,2023-03-30,2017-12-29,2018-12-08,0.0,f
3518,22786735,https://www.airbnb.com/rooms/22786735,20230329041210,2023-03-30,city scrape,❤️ WTC AREA @ TRENDY NAPOLES ⭐ CLEAN & COZY,Discover this warm and bright contemporary apa...,"Located in the ""colonia"" Nápoles, is a perfect...",https://a0.muscache.com/pictures/miso/Hosting-...,117904056,...,2 baths,2.0,"[""Ethernet connection"", ""Smoke alarm"", ""Single...",--,t,2023-03-30,2018-02-05,2023-03-19,0.0,f
3519,22422562,https://www.airbnb.com/rooms/22422562,20230329041210,2023-03-29,city scrape,23 Departamento completo Excelente Ubicación,"Full apartment, fully equipped, with excellent...",Colonia Narvarte is an area very well located ...,https://a0.muscache.com/pictures/f947f21d-c7fb...,20030198,...,1 bath,1.0,"[""Ethernet connection"", ""Smoke alarm"", ""Free s...",--,t,2023-03-29,2018-01-08,2023-03-12,0.0,f
3520,22714371,https://www.airbnb.com/rooms/22714371,20230329041210,2023-03-29,city scrape,Cálido Departamento en Coyoacán,"Servicios; WiFi gratis, Televisión por cable, ...",Esta ubicado en el antiguo e histórico Barrio ...,https://a0.muscache.com/pictures/dde87fcd-469f...,163710133,...,1 bath,2.0,"[""Free street parking"", ""Long term stays allow...",--,t,2023-03-29,2018-02-24,2020-08-08,0.0,f
3521,22715728,https://www.airbnb.com/rooms/22715728,20230329041210,2023-03-30,city scrape,"Habitación en Lindo, Nuevo, Centrico Roma Sur",--,10 min walking distance to Parque México. 1 st...,https://a0.muscache.com/pictures/eb32a963-bdd3...,29049569,...,--,0.0,0,--,0,0,--,--,0.0,0

In [21]:
#Método aplicando desviación estandar. Encuentro los valores extremos
y=num_df
Limite_Superior= y.mean() + 3*y.std()
Limite_Inferior= y.mean() - 3*y.std()
print("Limite superior permitido", Limite_Superior)
print("Limite inferior permitido", Limite_Inferior)

Limite superior permitido id                                              3.270684e+07
host_listings_count                             8.741237e+01
latitude                                        1.952424e+01
longitude                                      -9.412907e+01
accommodates                                    9.608458e+00
bathrooms                                       0.000000e+00
bedrooms                                        7.011635e+00
beds                                            8.440552e+00
minimum_nights                                  1.235830e+02
maximum_nights                                  2.229937e+03
minimum_minimum_nights                          1.102193e+02
maximum_minimum_nights                          1.107672e+02
minimum_maximum_nights                          2.189830e+03
maximum_maximum_nights                          2.183581e+03
minimum_nights_avg_ntm                          1.103824e+02
maximum_nights_avg_ntm                          2.183192e+03
availability_30                                 4.894641e+01
availability_60                                 1.010926e+02
availability_90                                 1.530228e+02
availability_365                                6.079283e+02
number_of_reviews                               3.619870e+02
number_of_reviews_ltm                           6.390145e+01
number_of_reviews_l30d                          5.507651e+00
review_scores_rating                            8.513484e+00
review_scores_accuracy                          8.603664e+00
review_scores_cleanliness                       8.531784e+00
review_scores_checkin                           8.667928e+00
review_scores_communication                     8.655899e+00
review_scores_location                          8.642767e+00
review_scores_value                             8.502049e+00
calculated_host_listings_count                  5.514498e+01
calculated_host_listings_count_entire_homes     5.135594e+01
calculated_host_listings_count_private_rooms    1.027688e+01
calculated_host_listings_count_shared_rooms     9.036664e-01
reviews_per_month                               4.741917e+00
dtype: float64
Limite inferior permitido id                                             -4.048922e+06
host_listings_count                            -7.213809e+01
latitude                                        1.927265e+01
longitude                                      -1.041572e+02
accommodates                                   -3.422768e+00
bathrooms                                       0.000000e+00
bedrooms                                       -3.944627e+00
beds                                           -4.575134e+00
minimum_nights                                 -1.105484e+02
maximum_nights                                 -7.272416e+02
minimum_minimum_nights                         -9.814887e+01
maximum_minimum_nights                         -9.810682e+01
minimum_maximum_nights                         -4.035474e+02
maximum_maximum_nights                         -3.817586e+02
minimum_nights_avg_ntm                         -9.802160e+01
maximum_nights_avg_ntm                         -3.882736e+02
availability_30                                -2.133256e+01
availability_60                                -3.407326e+01
availability_90                                -4.100347e+01
availability_365                               -1.440140e+02
number_of_reviews                              -2.050881e+02
number_of_reviews_ltm                          -3.968737e+01
number_of_reviews_l30d                         -3.734227e+00
review_scores_rating                            2.057498e-01
review_scores_accuracy                          2.057568e-01
review_scores_cleanliness                       2.009303e-01
review_scores_checkin                           2.391814e-01
review_scores_communication                     2.294725e-01
review_scores_location                          2.272505e-01
review_scores_value                             1.913465e-01
calculated_host_listings_count                 -4.392352e+01
calculated_host_listings_count_entire_homes    -4.321454e+01
calculated_host_listings_count_private_rooms   -7.454623e+00
calculated_host_listings_count_shared_rooms    -8.213268e-01
reviews_per_month                              -2.630577e+00
dtype: float64

<ipython-input-21-6de38f69fdc5>:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  Limite_Superior= y.mean() + 3*y.std()
<ipython-input-21-6de38f69fdc5>:3: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  Limite_Superior= y.mean() + 3*y.std()
<ipython-input-21-6de38f69fdc5>:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  Limite_Inferior= y.mean() - 3*y.std()
<ipython-input-21-6de38f69fdc5>:4: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  Limite_Inferior= y.mean() - 3*y.std()

In [22]:
#Encontramos Outliers del Dataframe
outliers= num_df[(y>Limite_Superior)|(y<Limite_Inferior)]
outliers

<ipython-input-22-b0bbabfe39cf>:2: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  outliers= num_df[(y>Limite_Superior)|(y<Limite_Inferior)]

,id,host_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3521,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [23]:
#Obtenemos datos y los outliers se convierten en nulos en el DataFrame
data3= num_df[(y<=Limite_Superior)&(y>=Limite_Inferior)]
data3

<ipython-input-23-c4fcc73624ed>:2: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  data3= num_df[(y<=Limite_Superior)&(y>=Limite_Inferior)]

,id,host_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2056638,3.0,19.35353,-99.16299,3.0,0.0,1.0,1.0,NaN,1.0,...,4.95,5.00,4.95,5.00,4.86,3.0,3.0,0.0,0.0,0.19
1,2072354,3.0,19.35358,-99.16948,2.0,0.0,1.0,1.0,NaN,3.0,...,4.88,4.93,5.00,4.95,4.84,2.0,2.0,0.0,0.0,0.54
2,696037,4.0,19.44180,-99.18402,6.0,0.0,3.0,3.0,NaN,24.0,...,4.71,4.92,4.92,4.58,4.71,3.0,3.0,0.0,0.0,0.31
3,35797,1.0,19.38283,-99.27178,2.0,0.0,1.0,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,0.0,0.00
4,44616,16.0,19.41162,-99.17794,NaN,0.0,5.0,8.0,NaN,1.0,...,4.70,4.87,4.78,4.98,4.48,12.0,3.0,2.0,0.0,0.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3517,22422552,9.0,19.43784,-99.14078,4.0,0.0,1.0,1.0,NaN,1.0,...,4.91,4.88,4.96,4.97,4.93,9.0,9.0,0.0,0.0,1.19
3518,22786735,1.0,19.39708,-99.17802,4.0,0.0,2.0,2.0,NaN,2.0,...,4.92,5.00,4.96,4.91,4.81,1.0,1.0,0.0,0.0,0.85
3519,22422562,7.0,19.39075,-99.15942,2.0,0.0,1.0,1.0,NaN,3.0,...,4.39,4.91,4.85,4.91,4.49,7.0,7.0,0.0,0.0,1.29
3520,22714371,1.0,19.35681,-99.15275,4.0,0.0,2.0,2.0,NaN,1.0,...,4.66,4.90,4.85,4.80,4.64,1.0,1.0,0.0,0.0,2.31
3521,22715728,2.0,19.30000,NaN,0.0,0.0,0.0,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.00

In [24]:
#Corroboramos valores nulos del dataframe4
valores_nulos=num_df.isnull().sum()
valores_nulos

id                                              0
host_listings_count                             0
latitude                                        0
longitude                                       0
accommodates                                    0
bathrooms                                       0
bedrooms                                        0
beds                                            0
price                                           0
minimum_nights                                  0
maximum_nights                                  0
minimum_minimum_nights                          0
maximum_minimum_nights                          0
minimum_maximum_nights                          0
maximum_maximum_nights                          0
minimum_nights_avg_ntm                          0
maximum_nights_avg_ntm                          0
calendar_updated                                0
availability_30                                 0
availability_60                                 0
availability_90                                 0
availability_365                                0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
dtype: int64

In [25]:
#Reemplazamos valores atípicos (nulos) del dataframe con "mean"
#Realizamos una copia del dataframe
data_clean=num_df.copy()
data_clean=data_clean.fillna(round(num_df.mean(),1))
data_clean

<ipython-input-25-e2c83ea144dd>:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data_clean=data_clean.fillna(round(num_df.mean(),1))

,id,host_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2056638,3,19.35353,-99.16299,3.0,0.0,1.0,1.0,"$1,434.00",1.0,...,4.95,5.00,4.95,5.00,4.86,3.0,3.0,0.0,0.0,0.19
1,2072354,3,19.35358,-99.16948,2.0,0.0,1.0,1.0,$830.00,3.0,...,4.88,4.93,5.00,4.95,4.84,2.0,2.0,0.0,0.0,0.54
2,696037,4,19.44180,-99.18402,6.0,0.0,3.0,3.0,"$1,469.00",24.0,...,4.71,4.92,4.92,4.58,4.71,3.0,3.0,0.0,0.0,0.31
3,35797,1,19.38283,-99.27178,2.0,0.0,1.0,1.0,"$3,658.00",1.0,...,0.00,0.00,0.00,0.00,0.00,1.0,1.0,0.0,0.0,0.00
4,44616,16,19.41162,-99.17794,14.0,0.0,5.0,8.0,"$18,000.00",1.0,...,4.70,4.87,4.78,4.98,4.48,12.0,3.0,2.0,0.0,0.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3517,22422552,9,19.43784,-99.14078,4.0,0.0,1.0,1.0,"$1,135.00",1.0,...,4.91,4.88,4.96,4.97,4.93,9.0,9.0,0.0,0.0,1.19
3518,22786735,1,19.39708,-99.17802,4.0,0.0,2.0,2.0,$979.00,2.0,...,4.92,5.00,4.96,4.91,4.81,1.0,1.0,0.0,0.0,0.85
3519,22422562,7,19.39075,-99.15942,2.0,0.0,1.0,1.0,$433.00,3.0,...,4.39,4.91,4.85,4.91,4.49,7.0,7.0,0.0,0.0,1.29
3520,22714371,1,19.35681,-99.15275,4.0,0.0,2.0,2.0,$878.00,1.0,...,4.66,4.90,4.85,4.80,4.64,1.0,1.0,0.0,0.0,2.31
3521,22715728,2,19.30000,0.00000,0.0,0.0,0.0,0.0,0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.00

In [26]:
#Corroboramos valores nulos del dataframe LIMPIO
valores_nulos=data_clean.isnull().sum()
valores_nulos

id                                              0
host_listings_count                             0
latitude                                        0
longitude                                       0
accommodates                                    0
bathrooms                                       0
bedrooms                                        0
beds                                            0
price                                           0
minimum_nights                                  0
maximum_nights                                  0
minimum_minimum_nights                          0
maximum_minimum_nights                          0
minimum_maximum_nights                          0
maximum_maximum_nights                          0
minimum_nights_avg_ntm                          0
maximum_nights_avg_ntm                          0
calendar_updated                                0
availability_30                                 0
availability_60                                 0
availability_90                                 0
availability_365                                0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
dtype: int64

In [27]:
# Unimos los datas con el dataframe
limpios_desv = pd.concat([num_df,cuali], axis=1)
limpios_desv

,id,host_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,...,bathrooms_text,bedrooms,amenities,calendar_updated,has_availability,calendar_last_scraped,first_review,last_review,license,instant_bookable
0,2056638,3,19.35353,-99.16299,3.0,0.0,1.0,1.0,"$1,434.00",1.0,...,1.5 baths,1.0,"[""Wifi"", ""Hangers"", ""Fire extinguisher"", ""Sham...",--,t,2023-03-30,2014-01-03,2018-06-24,0.0,f
1,2072354,3,19.35358,-99.16948,2.0,0.0,1.0,1.0,$830.00,3.0,...,1 bath,1.0,"[""Free street parking"", ""Cleaning products"", ""...",--,t,2023-03-30,2014-01-01,2022-11-04,0.0,f
2,696037,4,19.44180,-99.18402,6.0,0.0,3.0,3.0,"$1,469.00",24.0,...,2 baths,3.0,"[""Wifi \u2013 38 Mbps"", ""Central air condition...",--,t,2023-03-29,2012-10-31,2022-12-21,0.0,f
3,35797,1,19.38283,-99.27178,2.0,0.0,1.0,1.0,"$3,658.00",1.0,...,1 bath,1.0,"[""Wifi"", ""Washer"", ""BBQ grill"", ""Indoor firepl...",--,t,2023-03-29,--,--,0.0,f
4,44616,16,19.41162,-99.17794,14.0,0.0,5.0,8.0,"$18,000.00",1.0,...,5.5 baths,5.0,"[""Free street parking"", ""Security cameras on p...",--,t,2023-03-30,2011-11-09,2023-03-26,0.0,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3517,22422552,9,19.43784,-99.14078,4.0,0.0,1.0,1.0,"$1,135.00",1.0,...,1 bath,1.0,"[""BBQ grill"", ""Long term stays allowed"", ""TV w...",--,t,2023-03-30,2017-12-29,2018-12-08,0.0,f
3518,22786735,1,19.39708,-99.17802,4.0,0.0,2.0,2.0,$979.00,2.0,...,2 baths,2.0,"[""Ethernet connection"", ""Smoke alarm"", ""Single...",--,t,2023-03-30,2018-02-05,2023-03-19,0.0,f
3519,22422562,7,19.39075,-99.15942,2.0,0.0,1.0,1.0,$433.00,3.0,...,1 bath,1.0,"[""Ethernet connection"", ""Smoke alarm"", ""Free s...",--,t,2023-03-29,2018-01-08,2023-03-12,0.0,f
3520,22714371,1,19.35681,-99.15275,4.0,0.0,2.0,2.0,$878.00,1.0,...,1 bath,2.0,"[""Free street parking"", ""Long term stays allow...",--,t,2023-03-29,2018-02-24,2020-08-08,0.0,f
3521,22715728,2,19.30000,0.00000,0.0,0.0,0.0,0.0,0,0.0,...,--,0.0,0,--,0,0,--,--,0.0,0

In [28]:
#Corroboramos valores nulos 
limpios_desv=limpios_desv.isnull().sum()
limpios_desv

id                       0
host_listings_count      0
latitude                 0
longitude                0
accommodates             0
                        ..
calendar_last_scraped    0
first_review             0
last_review              0
license                  0
instant_bookable         0
Length: 76, dtype: int64

**PROCEDIMIENTO "CUANTILES" PARA SUSTITUIR OUTLIERS EN DATAFRAME**

In [29]:
#Método aplicando Cuartiles. Encuentro cuartiles 0.25 y 0.75
y=num_df

percentile25=y.quantile(0.25) #Q1
percentile75=y.quantile(0.75) #Q3
iqr= percentile75 - percentile25

Limite_Superior_iqr= percentile75 + 1.5*iqr
Limite_Inferior_iqr= percentile25 - 1.5*iqr
print("Limite superior permitido", Limite_Superior_iqr)
print("Limite inferior permitido", Limite_Inferior_iqr)

Limite superior permitido id                                              3.329135e+07
host_listings_count                             1.350000e+01
latitude                                        1.951660e+01
longitude                                      -9.911939e+01
accommodates                                    7.000000e+00
bathrooms                                       0.000000e+00
bedrooms                                        3.500000e+00
beds                                            3.500000e+00
minimum_nights                                  6.000000e+00
maximum_nights                                  2.632500e+03
minimum_minimum_nights                          6.000000e+00
maximum_minimum_nights                          6.000000e+00
minimum_maximum_nights                          1.125000e+03
maximum_maximum_nights                          1.125000e+03
minimum_nights_avg_ntm                          6.000000e+00
maximum_nights_avg_ntm                          1.125000e+03
availability_30                                 6.750000e+01
availability_60                                 1.235000e+02
availability_90                                 1.730000e+02
availability_365                                6.980000e+02
number_of_reviews                               2.635000e+02
number_of_reviews_ltm                           4.500000e+01
number_of_reviews_l30d                          2.500000e+00
review_scores_rating                            5.295000e+00
review_scores_accuracy                          5.275000e+00
review_scores_cleanliness                       5.330000e+00
review_scores_checkin                           5.205000e+00
review_scores_communication                     5.250000e+00
review_scores_location                          5.250000e+00
review_scores_value                             5.270000e+00
calculated_host_listings_count                  1.100000e+01
calculated_host_listings_count_entire_homes     7.500000e+00
calculated_host_listings_count_private_rooms    2.500000e+00
calculated_host_listings_count_shared_rooms     0.000000e+00
reviews_per_month                               3.505000e+00
dtype: float64
Limite inferior permitido id                                             -3.750548e+06
host_listings_count                            -6.500000e+00
latitude                                        1.928283e+01
longitude                                      -9.921872e+01
accommodates                                   -1.000000e+00
bathrooms                                       0.000000e+00
bedrooms                                       -5.000000e-01
beds                                           -5.000000e-01
minimum_nights                                 -2.000000e+00
maximum_nights                                 -1.387500e+03
minimum_minimum_nights                         -2.000000e+00
maximum_minimum_nights                         -2.000000e+00
minimum_maximum_nights                          1.125000e+03
maximum_maximum_nights                          1.125000e+03
minimum_nights_avg_ntm                         -2.000000e+00
maximum_nights_avg_ntm                          1.125000e+03
availability_30                                -4.050000e+01
availability_60                                -5.650000e+01
availability_90                                -5.900000e+01
availability_365                               -2.300000e+02
number_of_reviews                              -1.405000e+02
number_of_reviews_ltm                          -2.700000e+01
number_of_reviews_l30d                         -1.500000e+00
review_scores_rating                            4.295000e+00
review_scores_accuracy                          4.435000e+00
review_scores_cleanliness                       4.290000e+00
review_scores_checkin                           4.605000e+00
review_scores_communication                     4.530000e+00
review_scores_location                          4.530000e+00
review_scores_value                             4.310000e+00
calculated_host_listings_count                 -5.000000e+00
calculated_host_listings_count_entire_homes    -4.500000e+00
calculated_host_listings_count_private_rooms   -1.500000e+00
calculated_host_listings_count_shared_rooms     0.000000e+00
reviews_per_month                              -1.815000e+00
dtype: float64

<ipython-input-29-ae1310e2fd75>:4: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  percentile25=y.quantile(0.25) #Q1
<ipython-input-29-ae1310e2fd75>:5: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  percentile75=y.quantile(0.75) #Q3

In [30]:
#Encontramos Outliers del Dataframe
outliers_iqr= num_df[(y>Limite_Superior_iqr)|(y<Limite_Inferior_iqr)]
outliers_iqr

<ipython-input-30-12132436df6d>:2: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  outliers_iqr= num_df[(y>Limite_Superior_iqr)|(y<Limite_Inferior_iqr)]

,id,host_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,-99.27178,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,NaN,16.0,NaN,NaN,14.0,NaN,5.0,8.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN
3518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3521,NaN,NaN,NaN,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [31]:
#Obtenemos datos limpios del Dataframe
data3_iqr= num_df[(y<=Limite_Superior_iqr)&(y>=Limite_Inferior_iqr)]
data3_iqr

<ipython-input-31-2db8a2765c89>:2: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  data3_iqr= num_df[(y<=Limite_Superior_iqr)&(y>=Limite_Inferior_iqr)]

,id,host_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2056638,3.0,19.35353,-99.16299,3.0,0.0,1.0,1.0,NaN,1.0,...,4.95,5.00,4.95,5.00,4.86,3.0,3.0,0.0,0.0,0.19
1,2072354,3.0,19.35358,-99.16948,2.0,0.0,1.0,1.0,NaN,3.0,...,4.88,4.93,5.00,4.95,4.84,2.0,2.0,0.0,0.0,0.54
2,696037,4.0,19.44180,-99.18402,6.0,0.0,3.0,3.0,NaN,NaN,...,4.71,4.92,4.92,4.58,4.71,3.0,3.0,0.0,0.0,0.31
3,35797,1.0,19.38283,NaN,2.0,0.0,1.0,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,0.0,0.00
4,44616,NaN,19.41162,-99.17794,NaN,0.0,NaN,NaN,NaN,1.0,...,4.70,4.87,4.78,4.98,4.48,NaN,3.0,2.0,0.0,0.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3517,22422552,9.0,19.43784,-99.14078,4.0,0.0,1.0,1.0,NaN,1.0,...,4.91,4.88,4.96,4.97,4.93,9.0,NaN,0.0,0.0,1.19
3518,22786735,1.0,19.39708,-99.17802,4.0,0.0,2.0,2.0,NaN,2.0,...,4.92,5.00,4.96,4.91,4.81,1.0,1.0,0.0,0.0,0.85
3519,22422562,7.0,19.39075,-99.15942,2.0,0.0,1.0,1.0,NaN,3.0,...,4.39,4.91,4.85,4.91,4.49,7.0,7.0,0.0,0.0,1.29
3520,22714371,1.0,19.35681,-99.15275,4.0,0.0,2.0,2.0,NaN,1.0,...,4.66,4.90,4.85,4.80,4.64,1.0,1.0,0.0,0.0,2.31
3521,22715728,2.0,19.30000,NaN,0.0,0.0,0.0,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.00

In [32]:
#Corroboramos valores nulos del dataframe LIMPIO
valores_nulos=num_df.isnull().sum()
valores_nulos

id                                              0
host_listings_count                             0
latitude                                        0
longitude                                       0
accommodates                                    0
bathrooms                                       0
bedrooms                                        0
beds                                            0
price                                           0
minimum_nights                                  0
maximum_nights                                  0
minimum_minimum_nights                          0
maximum_minimum_nights                          0
minimum_maximum_nights                          0
maximum_maximum_nights                          0
minimum_nights_avg_ntm                          0
maximum_nights_avg_ntm                          0
calendar_updated                                0
availability_30                                 0
availability_60                                 0
availability_90                                 0
availability_365                                0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
reviews_per_month                               0
dtype: int64

In [33]:
#Reemplazamos valores atípicos (nulos) del dataframe con "mean"
#Realizamos una copia del dataframe
data5_iqr=num_df.copy()
data5_iqr=data5_iqr.fillna(round(num_df.mean(),1))
data5_iqr

<ipython-input-33-9164b51ca533>:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data5_iqr=data5_iqr.fillna(round(num_df.mean(),1))

,id,host_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2056638,3,19.35353,-99.16299,3.0,0.0,1.0,1.0,"$1,434.00",1.0,...,4.95,5.00,4.95,5.00,4.86,3.0,3.0,0.0,0.0,0.19
1,2072354,3,19.35358,-99.16948,2.0,0.0,1.0,1.0,$830.00,3.0,...,4.88,4.93,5.00,4.95,4.84,2.0,2.0,0.0,0.0,0.54
2,696037,4,19.44180,-99.18402,6.0,0.0,3.0,3.0,"$1,469.00",24.0,...,4.71,4.92,4.92,4.58,4.71,3.0,3.0,0.0,0.0,0.31
3,35797,1,19.38283,-99.27178,2.0,0.0,1.0,1.0,"$3,658.00",1.0,...,0.00,0.00,0.00,0.00,0.00,1.0,1.0,0.0,0.0,0.00
4,44616,16,19.41162,-99.17794,14.0,0.0,5.0,8.0,"$18,000.00",1.0,...,4.70,4.87,4.78,4.98,4.48,12.0,3.0,2.0,0.0,0.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3517,22422552,9,19.43784,-99.14078,4.0,0.0,1.0,1.0,"$1,135.00",1.0,...,4.91,4.88,4.96,4.97,4.93,9.0,9.0,0.0,0.0,1.19
3518,22786735,1,19.39708,-99.17802,4.0,0.0,2.0,2.0,$979.00,2.0,...,4.92,5.00,4.96,4.91,4.81,1.0,1.0,0.0,0.0,0.85
3519,22422562,7,19.39075,-99.15942,2.0,0.0,1.0,1.0,$433.00,3.0,...,4.39,4.91,4.85,4.91,4.49,7.0,7.0,0.0,0.0,1.29
3520,22714371,1,19.35681,-99.15275,4.0,0.0,2.0,2.0,$878.00,1.0,...,4.66,4.90,4.85,4.80,4.64,1.0,1.0,0.0,0.0,2.31
3521,22715728,2,19.30000,0.00000,0.0,0.0,0.0,0.0,0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.00

In [34]:
#Reemplazamos valores atípicos (nulos) del dataframe con "mean"
#Realizamos una copia del dataframe
data6_iqr=cuali.copy()
data6_iqr=data5_iqr.fillna(round(cuali.mean()))
data6_iqr

<ipython-input-34-1c20573ef626>:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data6_iqr=data5_iqr.fillna(round(cuali.mean()))

,id,host_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2056638,3,19.35353,-99.16299,3.0,0.0,1.0,1.0,"$1,434.00",1.0,...,4.95,5.00,4.95,5.00,4.86,3.0,3.0,0.0,0.0,0.19
1,2072354,3,19.35358,-99.16948,2.0,0.0,1.0,1.0,$830.00,3.0,...,4.88,4.93,5.00,4.95,4.84,2.0,2.0,0.0,0.0,0.54
2,696037,4,19.44180,-99.18402,6.0,0.0,3.0,3.0,"$1,469.00",24.0,...,4.71,4.92,4.92,4.58,4.71,3.0,3.0,0.0,0.0,0.31
3,35797,1,19.38283,-99.27178,2.0,0.0,1.0,1.0,"$3,658.00",1.0,...,0.00,0.00,0.00,0.00,0.00,1.0,1.0,0.0,0.0,0.00
4,44616,16,19.41162,-99.17794,14.0,0.0,5.0,8.0,"$18,000.00",1.0,...,4.70,4.87,4.78,4.98,4.48,12.0,3.0,2.0,0.0,0.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3517,22422552,9,19.43784,-99.14078,4.0,0.0,1.0,1.0,"$1,135.00",1.0,...,4.91,4.88,4.96,4.97,4.93,9.0,9.0,0.0,0.0,1.19
3518,22786735,1,19.39708,-99.17802,4.0,0.0,2.0,2.0,$979.00,2.0,...,4.92,5.00,4.96,4.91,4.81,1.0,1.0,0.0,0.0,0.85
3519,22422562,7,19.39075,-99.15942,2.0,0.0,1.0,1.0,$433.00,3.0,...,4.39,4.91,4.85,4.91,4.49,7.0,7.0,0.0,0.0,1.29
3520,22714371,1,19.35681,-99.15275,4.0,0.0,2.0,2.0,$878.00,1.0,...,4.66,4.90,4.85,4.80,4.64,1.0,1.0,0.0,0.0,2.31
3521,22715728,2,19.30000,0.00000,0.0,0.0,0.0,0.0,0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.00

In [35]:
# Unimos los datas con el dataframe
limpios_iqr = pd.concat([num_df, cuali], axis=1)
limpios_iqr

,id,host_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,...,bathrooms_text,bedrooms,amenities,calendar_updated,has_availability,calendar_last_scraped,first_review,last_review,license,instant_bookable
0,2056638,3,19.35353,-99.16299,3.0,0.0,1.0,1.0,"$1,434.00",1.0,...,1.5 baths,1.0,"[""Wifi"", ""Hangers"", ""Fire extinguisher"", ""Sham...",--,t,2023-03-30,2014-01-03,2018-06-24,0.0,f
1,2072354,3,19.35358,-99.16948,2.0,0.0,1.0,1.0,$830.00,3.0,...,1 bath,1.0,"[""Free street parking"", ""Cleaning products"", ""...",--,t,2023-03-30,2014-01-01,2022-11-04,0.0,f
2,696037,4,19.44180,-99.18402,6.0,0.0,3.0,3.0,"$1,469.00",24.0,...,2 baths,3.0,"[""Wifi \u2013 38 Mbps"", ""Central air condition...",--,t,2023-03-29,2012-10-31,2022-12-21,0.0,f
3,35797,1,19.38283,-99.27178,2.0,0.0,1.0,1.0,"$3,658.00",1.0,...,1 bath,1.0,"[""Wifi"", ""Washer"", ""BBQ grill"", ""Indoor firepl...",--,t,2023-03-29,--,--,0.0,f
4,44616,16,19.41162,-99.17794,14.0,0.0,5.0,8.0,"$18,000.00",1.0,...,5.5 baths,5.0,"[""Free street parking"", ""Security cameras on p...",--,t,2023-03-30,2011-11-09,2023-03-26,0.0,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3517,22422552,9,19.43784,-99.14078,4.0,0.0,1.0,1.0,"$1,135.00",1.0,...,1 bath,1.0,"[""BBQ grill"", ""Long term stays allowed"", ""TV w...",--,t,2023-03-30,2017-12-29,2018-12-08,0.0,f
3518,22786735,1,19.39708,-99.17802,4.0,0.0,2.0,2.0,$979.00,2.0,...,2 baths,2.0,"[""Ethernet connection"", ""Smoke alarm"", ""Single...",--,t,2023-03-30,2018-02-05,2023-03-19,0.0,f
3519,22422562,7,19.39075,-99.15942,2.0,0.0,1.0,1.0,$433.00,3.0,...,1 bath,1.0,"[""Ethernet connection"", ""Smoke alarm"", ""Free s...",--,t,2023-03-29,2018-01-08,2023-03-12,0.0,f
3520,22714371,1,19.35681,-99.15275,4.0,0.0,2.0,2.0,$878.00,1.0,...,1 bath,2.0,"[""Free street parking"", ""Long term stays allow...",--,t,2023-03-29,2018-02-24,2020-08-08,0.0,f
3521,22715728,2,19.30000,0.00000,0.0,0.0,0.0,0.0,0,0.0,...,--,0.0,0,--,0,0,--,--,0.0,0

In [36]:
#Corroboramos valores nulos del dataframe LIMPIO
valores_nulos=limpios_iqr.isnull().sum()
valores_nulos

id                       0
host_listings_count      0
latitude                 0
longitude                0
accommodates             0
                        ..
calendar_last_scraped    0
first_review             0
last_review              0
license                  0
instant_bookable         0
Length: 76, dtype: int64

In [37]:
#Convertir DataFrame a CSV
limpios_iqr.to_csv("valores_nulos_mexico.csv")
#descargar archivo filtrado en csv
from google.colab import files 
  
  
files.download("valores_nulos_mexico.csv")